---
http_interactions:
- request:
    method: post
    uri: https://api.cloudtruth.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query IntrospectionQuery {\n  __schema {\n    queryType {\n      name\n    }\n    mutationType
        {\n      name\n    }\n    subscriptionType {\n      name\n    }\n    types
        {\n      ...FullType\n    }\n    directives {\n      name\n      description\n      locations\n      args
        {\n        ...InputValue\n      }\n    }\n  }\n}\n\nfragment FullType on __Type
        {\n  kind\n  name\n  description\n  fields(includeDeprecated: true) {\n    name\n    description\n    args
    [...]
- request:
    method: post
    uri: https://api.cloudtruth.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query GraphQL__Client__OperationDefinition_40720 {\n  viewer
        {\n    memberships {\n      nodes {\n        organization {\n          id\n          name\n        }\n      }\n    }\n  }\n}","operationName":"GraphQL__Client__OperationDefinition_40720"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dd6fbd595565bb739ed3c235c3e1d53c"
    body:
      encoding: UTF-8
      string: '{"data":{"viewer":{"memberships":{"nodes":[{"organization":{"id":"T3JnYW5pemF0aW9uLTE1YzgxYjViLWVlM2ItNDlmNS1iNGVkLTIyYTc0NDI3N2ZiMw==","name":"Personal"}}]}}}}'
  recorded_at: Wed, 02 Dec 2020 14:56:40 GMT
- request:
    method: post
    uri: https://api.cloudtruth.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query GraphQL__Client__OperationDefinition_40760($organizationId:
        ID) {\n  viewer {\n    organization(id: $organizationId) {\n      environments
        {\n        nodes {\n          id\n          name\n        }\n      }\n    }\n  }\n}","variables":{"organizationId":"T3JnYW5pemF0aW9uLTE1YzgxYjViLWVlM2ItNDlmNS1iNGVkLTIyYTc0NDI3N2ZiMw=="},"operationName":"GraphQL__Client__OperationDefinition_40760"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f76c8d41893ab99d341edd5386a9028"
    body:
      encoding: UTF-8
      string: '{"data":{"viewer":{"organization":{"environments":{"nodes":[{"id":"RW52aXJvbm1lbnQtZjk3MDI1NGEtNGQ0NS00YTA1LWJiYjctOTRjZTdhOGRmODky","name":"default"},{"id":"RW52aXJvbm1lbnQtOGRmMTVjMjYtN2FhZi00ODE5LWJlNzYtMTVmMzU2YzQ5YTg1","name":"production"},{"id":"RW52aXJvbm1lbnQtNmI5M2NlMWEtMTVkMS00MzRiLTg1NTAtODhjZDZhY2ZjYzU4","name":"development"},{"id":"RW52aXJvbm1lbnQtY2EyMDA0YzctZjQ3Mi00MzFlLWIyODgtNzg0NmYzMTBmMGZj","name":"ops"},{"id":"RW52aXJvbm1lbnQtMzY4MWRkMjctZDY2YS00NjdlLWI1NzMtYmI2YzU0ZmFjZDM1","name":"staging"}]}}}}}'
  recorded_at: Wed, 02 Dec 2020 14:56:40 GMT
recorded_with: VCR 6.0.0
