---
http_interactions:
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":2,"next":null,"previous":null,"results":[{"url":"https://api.staging.cloudtruth.io/api/v1/projects/1e0926d8-bc4d-44d4-8c7d-e712e655a231/","id":"1e0926d8-bc4d-44d4-8c7d-e712e655a231","name":"MyFirstProject","description":"Your
        first project.","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-06-02T17:11:55.098134Z","modified_at":"2022-06-02T17:11:55.098134Z"},{"url":"https://api.staging.cloudtruth.io/api/v1/projects/25d1e833-a351-458e-ab6f-cb09ae6bc20d/","id":"25d1e833-a351-458e-ab6f-cb09ae6bc20d","name":"TestProject","description":"","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-10-07T15:30:36.977702Z","modified_at":"2022-10-07T15:30:36.977702Z"}]}'
  recorded_at: Fri, 07 Oct 2022 15:31:28 GMT
- request:
    method: delete
    uri: https://api.staging.cloudtruth.io/api/v1/projects/25d1e833-a351-458e-ab6f-cb09ae6bc20d/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 07 Oct 2022 15:31:29 GMT
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/","id":"40bc65f5-3378-486d-971e-b4f543c57b1e","name":"TestProject","description":"","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-10-07T15:31:31.291894Z","modified_at":"2022-10-07T15:31:31.291894Z"}'
  recorded_at: Fri, 07 Oct 2022 15:31:31 GMT
[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one","type":"string"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/parameters/2f5cb4d3-0168-4218-a717-2c00be7941e0/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/parameters/2f5cb4d3-0168-4218-a717-2c00be7941e0/","id":"2f5cb4d3-0168-4218-a717-2c00be7941e0","name":"one","description":"","secret":false,"type":"string","rules":[],"project":"https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/","project_name":"TestProject","referencing_templates":[],"referencing_values":[],"values":{"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/":null,"https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd24bd67274/":null,"https://api.staging.cloudtruth.io/api/v1/environments/0663ac09-5883-452b-bc1a-00e3347fece5/":null,"https://api.staging.cloudtruth.io/api/v1/environments/fc970cc2-c24f-427d-9c7a-70acde9f1b64/":null},"overrides":null,"created_at":"2022-10-07T15:31:35.020462Z","modified_at":"2022-10-07T15:31:35.020462Z","templates":[]}'
  recorded_at: Fri, 07 Oct 2022 15:31:35 GMT
[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/templates/
    body:
      encoding: UTF-8
      string: '{"name":"tone","body":"tmpl1 {{one}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/templates/4ddbc48a-edf7-4bf6-910f-7791332c3e2e/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/templates/4ddbc48a-edf7-4bf6-910f-7791332c3e2e/","id":"4ddbc48a-edf7-4bf6-910f-7791332c3e2e","name":"tone","description":"","evaluated":false,"body":"tmpl1
        {{one}}","referenced_projects":[],"referenced_parameters":["https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/parameters/2f5cb4d3-0168-4218-a717-2c00be7941e0/"],"referenced_templates":[],"referencing_templates":[],"referencing_values":[],"has_secret":false,"created_at":"2022-10-07T15:31:38.363401Z","modified_at":"2022-10-07T15:31:38.363401Z","parameters":["https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/parameters/2f5cb4d3-0168-4218-a717-2c00be7941e0/"],"references":[],"referenced_by":[]}'
  recorded_at: Fri, 07 Oct 2022 15:31:38 GMT
[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/environments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":4,"next":null,"previous":null,"results":[{"url":"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/","id":"1c8d41fa-6cba-4bc4-8154-e41acf2e8d76","name":"default","description":"Default
        environment, base for all environments.","parent":null,"children":["https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd24bd67274/","https://api.staging.cloudtruth.io/api/v1/environments/0663ac09-5883-452b-bc1a-00e3347fece5/","https://api.staging.cloudtruth.io/api/v1/environments/fc970cc2-c24f-427d-9c7a-70acde9f1b64/"],"access_controlled":false,"role":null,"created_at":"2022-06-02T17:11:55.112161Z","modified_at":"2022-06-02T17:13:09.641786Z"},{"url":"https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd2[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/parameters/2f5cb4d3-0168-4218-a717-2c00be7941e0/values/
    body:
      encoding: UTF-8
      string: '{"environment":"1c8d41fa-6cba-4bc4-8154-e41acf2e8d76","external":false,"internal_value":"defaultone"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/parameters/2f5cb4d3-0168-4218-a717-2c00be7941e0/values/f6b0d1ef-6215-4cd8-96ea-3e160873a262/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/parameters/2f5cb4d3-0168-4218-a717-2c00be7941e0/values/f6b0d1ef-6215-4cd8-96ea-3e160873a262/","id":"f6b0d1ef-6215-4cd8-96ea-3e160873a262","environment":"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/","environment_name":"default","parameter":"https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/parameters/2f5cb4d3-0168-4218-a717-2c00be7941e0/","external":false,"external_fqn":"","external_filter":"","external_error":null,"external_status":null,"internal_value":"defaultone","interpolated":false,"value":"defaultone","evaluated":false,"secret":false,"referenced_projects":[],"referenced_parameters":[],"referenced_templates":[],"created_at":"2022-10-07T15:31:43.204081Z","modified_at":"2022-10-07T15:31:43.204081Z","dynamic":false,"dynamic_error":null,"dynamic_filter":"","dynamic_fqn":"","static_value":"defaultone"}'
  recorded_at: Fri, 07 Oct 2022 15:31:43 GMT
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/templates/?environment=1c8d41fa-6cba-4bc4-8154-e41acf2e8d76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/templates/4ddbc48a-edf7-4bf6-910f-7791332c3e2e/?environment=1c8d41fa-6cba-4bc4-8154-e41acf2e8d76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/templates/4ddbc48a-edf7-4bf6-910f-7791332c3e2e/","id":"4ddbc48a-edf7-4bf6-910f-7791332c3e2e","name":"tone","description":"","evaluated":false,"body":"tmpl1
        defaultone","referenced_projects":[],"referenced_parameters":["https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/parameters/2f5cb4d3-0168-4218-a717-2c00be7941e0/"],"referenced_templates":[],"referencing_templates":[],"referencing_values":[],"has_secret":false,"created_at":"2022-10-07T15:31:38.363401Z","modified_at":"2022-10-07T15:31:38.363401Z","parameters":["https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/parameters/2f5cb4d3-0168-4218-a717-2c00be7941e0/"],"references":[],"referenced_by":[]}'
  recorded_at: Fri, 07 Oct 2022 15:31:47 GMT
recorded_with: VCR 6.0.0
