---
http_interactions:
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":24,"next":null,"previous":null,"results":[{"url":"https://api.cloudtruth.io/api/v1/projects/1a7b786e-9c62-4258-aef2-6cfd75c41a59/","id":"1a7b786e-9c62-4258-aef2-6cfd75c41a59","name":"cfdemo","description":"Configuration
        used to demo a CloudFormation prototype integration","dependents":[],"depends_on":null,"pushes":[],"created_at":"2021-07-21T20:05:26.661951Z","modified_at":"2021-11-23T23:08:12.562939Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/4fe2fe3c-c663-41af-8d63-ec5527a621c0/","id":"4fe2fe3c-c663-41af-8d63-ec5527a621c0","name":"common","description":"Shared
        across all projects","dependents":[],"depends_on":null,"pushes":[],"created_at":"2021-07-21T20:22:47.273990Z","modified_at":"2021-07-26T18:45:24.199158Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/dcb265f5-ce89-4e00-8b28-7ce873747b97/","id":"dcb265f5-ce89-4e00-8b28-7ce873747b97","n[...]
- request:
    method: delete
    uri: https://api.cloudtruth.io/api/v1/projects/5be6b037-6306-4398-ae38-3f2eb3b6ec70/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jan 2022 17:39:17 GMT
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/","id":"273c3075-06ce-450b-afa6-245a8bee436f","name":"TestProject","description":"","dependents":[],"depends_on":null,"pushes":[],"created_at":"2022-01-04T17:39:18.342616Z","modified_at":"2022-01-04T17:39:18.342616Z"}'
  recorded_at: Tue, 04 Jan 2022 17:39:18 GMT
[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one","type":"string"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/parameters/e4cebc4d-8590-45a7-95b9-df95f30e5dfd/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/parameters/e4cebc4d-8590-45a7-95b9-df95f30e5dfd/","id":"e4cebc4d-8590-45a7-95b9-df95f30e5dfd","name":"one","description":"","secret":false,"type":"string","rules":[],"project":"https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/","project_name":"TestProject","referencing_templates":[],"referencing_values":[],"values":{"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/":null,"https://api.cloudtruth.io/api/v1/environments/c4de304d-5dd4-4a41-80ec-9a469f1aa4f5/":null,"https://api.cloudtruth.io/api/v1/environments/12b9c81b-9002-423b-9ca7-22cece646d07/":null,"https://api.cloudtruth.io/api/v1/environments/2281d9da-8376-4f45-baf2-372a71260dfa/":null,"https://api.cloudtruth.io/api/v1/environments/c99d6ab9-4674-4f76-bb43-da0b19124e18/":null,"https://api.cloudtruth.io/api/v1/environments/ef133a2e-3c9c-4229-a509-e56332baff40/":null,"https://api.cloudtruth.io/api/v1/environments/cde7cf9d-8bf2-46cb-9e97-dee9b99e4335/":null,"https://api.cloudtruth.io/api/v1/environments/e4399ff4-a962-451b-adfb-7e504ad6bb6d/":null,"https://api.cloudtruth.io/api/v1/environments/3afc0523-4722-4fa1-aaea-5d49beaa284d/":null},"created_at":"2022-01-04T17:39:19.407558Z","modified_at":"2022-01-04T17:39:19.407558Z","templates":[]}'
  recorded_at: Tue, 04 Jan 2022 17:39:19 GMT
[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/templates/
    body:
      encoding: UTF-8
      string: '{"name":"tone","body":"tmpl1 {{one}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/templates/c0e9520e-7639-46ba-a0f9-899eb229b1da/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/templates/c0e9520e-7639-46ba-a0f9-899eb229b1da/","id":"c0e9520e-7639-46ba-a0f9-899eb229b1da","name":"tone","description":"","evaluated":false,"body":"tmpl1
        {{one}}","referenced_parameters":["https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/parameters/e4cebc4d-8590-45a7-95b9-df95f30e5dfd/"],"referenced_templates":[],"referencing_templates":[],"referencing_values":[],"has_secret":false,"created_at":"2022-01-04T17:39:20.846844Z","modified_at":"2022-01-04T17:39:20.846844Z","parameters":["https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/parameters/e4cebc4d-8590-45a7-95b9-df95f30e5dfd/"],"references":[],"referenced_by":[]}'
  recorded_at: Tue, 04 Jan 2022 17:39:20 GMT
[...]
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/environments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":9,"next":null,"previous":null,"results":[{"url":"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/","id":"e8bc190d-0354-4e66-91c9-64501e501ec5","name":"default","description":"The
        auto-generated default environment.","parent":null,"children":["https://api.cloudtruth.io/api/v1/environments/c4de304d-5dd4-4a41-80ec-9a469f1aa4f5/","https://api.cloudtruth.io/api/v1/environments/c99d6ab9-4674-4f76-bb43-da0b19124e18/","https://api.cloudtruth.io/api/v1/environments/ef133a2e-3c9c-4229-a509-e56332baff40/","https://api.cloudtruth.io/api/v1/environments/cde7cf9d-8bf2-46cb-9e97-dee9b99e4335/","https://api.cloudtruth.io/api/v1/environments/e4399ff4-a962-451b-adfb-7e504ad6bb6d/"],"created_at":"2021-07-20T18:14:09.023022Z","modified_at":"2022-01-04[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/parameters/e4cebc4d-8590-45a7-95b9-df95f30e5dfd/values/
    body:
      encoding: UTF-8
      string: '{"environment":"e8bc190d-0354-4e66-91c9-64501e501ec5","external":false,"internal_value":"defaultone"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/parameters/e4cebc4d-8590-45a7-95b9-df95f30e5dfd/values/04206e27-596d-40d8-beb1-db5ef6951b6b/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/parameters/e4cebc4d-8590-45a7-95b9-df95f30e5dfd/values/04206e27-596d-40d8-beb1-db5ef6951b6b/","id":"04206e27-596d-40d8-beb1-db5ef6951b6b","environment":"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/","environment_name":"default","earliest_tag":null,"parameter":"https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/parameters/e4cebc4d-8590-45a7-95b9-df95f30e5dfd/","external":false,"external_fqn":"","external_filter":"","external_error":null,"internal_value":"defaultone","interpolated":false,"value":"defaultone","evaluated":false,"secret":false,"referenced_parameters":[],"referenced_templates":[],"created_at":"2022-01-04T17:39:22.760186Z","modified_at":"2022-01-04T17:39:22.760186Z","dynamic":false,"dynamic_error":null,"dynamic_filter":"","dynamic_fqn":"","static_value":"defaultone"}'
  recorded_at: Tue, 04 Jan 2022 17:39:23 GMT
[...]
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/templates/c0e9520e-7639-46ba-a0f9-899eb229b1da/?environment=e8bc190d-0354-4e66-91c9-64501e501ec5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/templates/c0e9520e-7639-46ba-a0f9-899eb229b1da/","id":"c0e9520e-7639-46ba-a0f9-899eb229b1da","name":"tone","description":"","evaluated":false,"body":"tmpl1
        defaultone","referenced_parameters":["https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/parameters/e4cebc4d-8590-45a7-95b9-df95f30e5dfd/"],"referenced_templates":[],"referencing_templates":[],"referencing_values":[],"has_secret":false,"created_at":"2022-01-04T17:39:20.846844Z","modified_at":"2022-01-04T17:39:20.846844Z","parameters":["https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/parameters/e4cebc4d-8590-45a7-95b9-df95f30e5dfd/"],"references":[],"referenced_by":[]}'
  recorded_at: Tue, 04 Jan 2022 17:39:24 GMT
recorded_with: VCR 6.0.0
