---
http_interactions:
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":19,"next":null,"previous":null,"results":[{"url":"https://api.cloudtruth.io/api/v1/projects/1a7b786e-9c62-4258-aef2-6cfd75c41a59/","id":"1a7b786e-9c62-4258-aef2-6cfd75c41a59","name":"cfdemo","description":"Configuration
        used to demo a CloudFormation prototype integration","dependents":[],"depends_on":null,"pushes":[],"created_at":"2021-07-21T20:05:26.661951Z","modified_at":"2021-11-23T23:08:12.562939Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/4fe2fe3c-c663-41af-8d63-ec5527a621c0/","id":"4fe2fe3c-c663-41af-8d63-ec5527a621c0","name":"common","description":"Shared
        across all projects","dependents":[],"depends_on":null,"pushes":[],"created_at":"2021-07-21T20:22:47.273990Z","modified_at":"2021-07-26T18:45:24.199158Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/dcb265f5-ce89-4e00-8b28-7ce873747b97/","id":"dcb265f5-ce89-4e00-8b28-7ce873747b97","n[...]
- request:
    method: delete
    uri: https://api.cloudtruth.io/api/v1/projects/e70fd5c4-0ce2-485d-ade1-5036e18a81ea/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 30 Nov 2021 15:13:02 GMT
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/","id":"ea34b709-ce4d-43b2-9f6a-aabfe1b83343","name":"TestProject","description":"","dependents":[],"depends_on":null,"pushes":[],"created_at":"2021-11-30T15:13:02.751059Z","modified_at":"2021-11-30T15:13:02.751059Z"}'
  recorded_at: Tue, 30 Nov 2021 15:13:02 GMT
[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/parameters/5899e8a9-a10d-44ee-8fdc-28d1024cf1ed/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/parameters/5899e8a9-a10d-44ee-8fdc-28d1024cf1ed/","id":"5899e8a9-a10d-44ee-8fdc-28d1024cf1ed","name":"one","description":"","secret":false,"type":"string","rules":[],"project":"https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/","project_name":"TestProject","referencing_templates":[],"referencing_values":[],"values":{"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/":null,"https://api.cloudtruth.io/api/v1/environments/c4de304d-5dd4-4a41-80ec-9a469f1aa4f5/":null,"https://api.cloudtruth.io/api/v1/environments/12b9c81b-9002-423b-9ca7-22cece646d07/":null,"https://api.cloudtruth.io/api/v1/environments/2281d9da-8376-4f45-baf2-372a71260dfa/":null,"https://api.cloudtruth.io/api/v1/environments/c99d6ab9-4674-4f76-bb43-da0b19124e18/":null,"https://api.cloudtruth.io/api/v1/environments/ef133a2e-3c9c-4229-a509-e56332baff40/":null,"https://api.cloudtruth.io/api/v1/environments/cde7cf9d-8bf2-46cb-9e97-dee9b99e4335/":null,"https://api.cloudtruth.io/api/v1/environments/e4399ff4-a962-451b-adfb-7e504ad6bb6d/":null,"https://api.cloudtruth.io/api/v1/environments/3afc0523-4722-4fa1-aaea-5d49beaa284d/":null},"created_at":"2021-11-30T15:13:04.118491Z","modified_at":"2021-11-30T15:13:04.118491Z","templates":[]}'
  recorded_at: Tue, 30 Nov 2021 15:13:04 GMT
[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/templates/
    body:
      encoding: UTF-8
      string: '{"name":"tone","body":"tmpl1 {{one}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/templates/5cb31bb9-88cc-4768-970f-46d4da73ef47/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/templates/5cb31bb9-88cc-4768-970f-46d4da73ef47/","id":"5cb31bb9-88cc-4768-970f-46d4da73ef47","name":"tone","description":"","evaluated":false,"body":"tmpl1
        {{one}}","referenced_parameters":["https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/parameters/5899e8a9-a10d-44ee-8fdc-28d1024cf1ed/"],"referenced_templates":[],"referencing_templates":[],"referencing_values":[],"has_secret":false,"created_at":"2021-11-30T15:13:05.460206Z","modified_at":"2021-11-30T15:13:05.460206Z","parameters":["https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/parameters/5899e8a9-a10d-44ee-8fdc-28d1024cf1ed/"],"references":[],"referenced_by":[]}'
  recorded_at: Tue, 30 Nov 2021 15:13:05 GMT
[...]
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/environments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":9,"next":null,"previous":null,"results":[{"url":"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/","id":"e8bc190d-0354-4e66-91c9-64501e501ec5","name":"default","description":"The
        auto-generated default environment.","parent":null,"children":["https://api.cloudtruth.io/api/v1/environments/c4de304d-5dd4-4a41-80ec-9a469f1aa4f5/","https://api.cloudtruth.io/api/v1/environments/c99d6ab9-4674-4f76-bb43-da0b19124e18/","https://api.cloudtruth.io/api/v1/environments/ef133a2e-3c9c-4229-a509-e56332baff40/","https://api.cloudtruth.io/api/v1/environments/cde7cf9d-8bf2-46cb-9e97-dee9b99e4335/","https://api.cloudtruth.io/api/v1/environments/e4399ff4-a962-451b-adfb-7e504ad6bb6d/"],"created_at":"2021-07-20T18:14:09.023022Z","modified_at":"2021-11-30[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/parameters/5899e8a9-a10d-44ee-8fdc-28d1024cf1ed/values/
    body:
      encoding: UTF-8
      string: '{"environment":"e8bc190d-0354-4e66-91c9-64501e501ec5","external":false,"internal_value":"defaultone"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/parameters/5899e8a9-a10d-44ee-8fdc-28d1024cf1ed/values/5f3cf4cd-acfe-409c-8fb9-a6bfbd920d4c/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/parameters/5899e8a9-a10d-44ee-8fdc-28d1024cf1ed/values/5f3cf4cd-acfe-409c-8fb9-a6bfbd920d4c/","id":"5f3cf4cd-acfe-409c-8fb9-a6bfbd920d4c","environment":"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/","environment_name":"default","earliest_tag":null,"parameter":"https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/parameters/5899e8a9-a10d-44ee-8fdc-28d1024cf1ed/","external":false,"external_fqn":"","external_filter":"","external_error":null,"internal_value":"defaultone","interpolated":false,"value":"defaultone","evaluated":false,"secret":false,"referenced_parameters":[],"referenced_templates":[],"created_at":"2021-11-30T15:13:07.312328Z","modified_at":"2021-11-30T15:13:07.312328Z","dynamic":false,"dynamic_error":null,"dynamic_filter":"","dynamic_fqn":"","static_value":"defaultone"}'
  recorded_at: Tue, 30 Nov 2021 15:13:07 GMT
[...]
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/templates/5cb31bb9-88cc-4768-970f-46d4da73ef47/?environment=e8bc190d-0354-4e66-91c9-64501e501ec5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/templates/5cb31bb9-88cc-4768-970f-46d4da73ef47/","id":"5cb31bb9-88cc-4768-970f-46d4da73ef47","name":"tone","description":"","evaluated":false,"body":"tmpl1
        defaultone","referenced_parameters":["https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/parameters/5899e8a9-a10d-44ee-8fdc-28d1024cf1ed/"],"referenced_templates":[],"referencing_templates":[],"referencing_values":[],"has_secret":false,"created_at":"2021-11-30T15:13:05.460206Z","modified_at":"2021-11-30T15:13:05.460206Z","parameters":["https://api.cloudtruth.io/api/v1/projects/ea34b709-ce4d-43b2-9f6a-aabfe1b83343/parameters/5899e8a9-a10d-44ee-8fdc-28d1024cf1ed/"],"references":[],"referenced_by":[]}'
  recorded_at: Tue, 30 Nov 2021 15:13:08 GMT
recorded_with: VCR 6.0.0
