---
http_interactions:
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"https://api.staging.cloudtruth.io/api/v1/projects/1e0926d8-bc4d-44d4-8c7d-e712e655a231/","id":"1e0926d8-bc4d-44d4-8c7d-e712e655a231","name":"MyFirstProject","description":"Your
        first project.","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-06-02T17:11:55.098134Z","modified_at":"2022-06-02T17:11:55.098134Z"}]}'
  recorded_at: Fri, 07 Oct 2022 16:03:19 GMT
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/","id":"439ebfc8-e75a-4c19-8372-1fb4f6cfe82f","name":"TestProject","description":"","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-10-07T16:03:21.432641Z","modified_at":"2022-10-07T16:03:21.432641Z"}'
  recorded_at: Fri, 07 Oct 2022 16:03:21 GMT
[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one","type":"string"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/parameters/f7c564f2-6ead-4299-8b63-e93c5058700e/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/parameters/f7c564f2-6ead-4299-8b63-e93c5058700e/","id":"f7c564f2-6ead-4299-8b63-e93c5058700e","name":"one","description":"","secret":false,"type":"string","rules":[],"project":"https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/","project_name":"TestProject","referencing_templates":[],"referencing_values":[],"values":{"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/":null,"https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd24bd67274/":null,"https://api.staging.cloudtruth.io/api/v1/environments/0663ac09-5883-452b-bc1a-00e3347fece5/":null,"https://api.staging.cloudtruth.io/api/v1/environments/fc970cc2-c24f-427d-9c7a-70acde9f1b64/":null},"overrides":null,"created_at":"2022-10-07T16:03:24.778966Z","modified_at":"2022-10-07T16:03:24.778966Z","templates":[]}'
  recorded_at: Fri, 07 Oct 2022 16:03:24 GMT
[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/templates/
    body:
      encoding: UTF-8
      string: '{"name":"tone","body":"tmpl1 {{one}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/templates/478d4d02-b3e8-42c2-93b4-0ee47165ec83/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/templates/478d4d02-b3e8-42c2-93b4-0ee47165ec83/","id":"478d4d02-b3e8-42c2-93b4-0ee47165ec83","name":"tone","description":"","evaluated":false,"body":"tmpl1
        {{one}}","referenced_projects":[],"referenced_parameters":["https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/parameters/f7c564f2-6ead-4299-8b63-e93c5058700e/"],"referenced_templates":[],"referencing_templates":[],"referencing_values":[],"has_secret":false,"created_at":"2022-10-07T16:03:28.278052Z","modified_at":"2022-10-07T16:03:28.278052Z","parameters":["https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/parameters/f7c564f2-6ead-4299-8b63-e93c5058700e/"],"references":[],"referenced_by":[]}'
  recorded_at: Fri, 07 Oct 2022 16:03:28 GMT
[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/environments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":4,"next":null,"previous":null,"results":[{"url":"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/","id":"1c8d41fa-6cba-4bc4-8154-e41acf2e8d76","name":"default","description":"Default
        environment, base for all environments.","parent":null,"children":["https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd24bd67274/","https://api.staging.cloudtruth.io/api/v1/environments/0663ac09-5883-452b-bc1a-00e3347fece5/","https://api.staging.cloudtruth.io/api/v1/environments/fc970cc2-c24f-427d-9c7a-70acde9f1b64/"],"access_controlled":false,"role":null,"created_at":"2022-06-02T17:11:55.112161Z","modified_at":"2022-06-02T17:13:09.641786Z"},{"url":"https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd2[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/parameters/f7c564f2-6ead-4299-8b63-e93c5058700e/values/
    body:
      encoding: UTF-8
      string: '{"environment":"1c8d41fa-6cba-4bc4-8154-e41acf2e8d76","external":false,"internal_value":"defaultone"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/parameters/f7c564f2-6ead-4299-8b63-e93c5058700e/values/bae3c955-dfd6-4e40-b07c-c0e4310f0d46/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/parameters/f7c564f2-6ead-4299-8b63-e93c5058700e/values/bae3c955-dfd6-4e40-b07c-c0e4310f0d46/","id":"bae3c955-dfd6-4e40-b07c-c0e4310f0d46","environment":"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/","environment_name":"default","parameter":"https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/parameters/f7c564f2-6ead-4299-8b63-e93c5058700e/","external":false,"external_fqn":"","external_filter":"","external_error":null,"external_status":null,"internal_value":"defaultone","interpolated":false,"value":"defaultone","evaluated":false,"secret":false,"referenced_projects":[],"referenced_parameters":[],"referenced_templates":[],"created_at":"2022-10-07T16:03:33.026505Z","modified_at":"2022-10-07T16:03:33.026505Z","dynamic":false,"dynamic_error":null,"dynamic_filter":"","dynamic_fqn":"","static_value":"defaultone"}'
  recorded_at: Fri, 07 Oct 2022 16:03:33 GMT
[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/parameters/?environment=1c8d41fa-6cba-4bc4-8154-e41acf2e8d76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/templates/?environment=1c8d41fa-6cba-4bc4-8154-e41acf2e8d76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/templates/478d4d02-b3e8-42c2-93b4-0ee47165ec83/?environment=1c8d41fa-6cba-4bc4-8154-e41acf2e8d76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/templates/478d4d02-b3e8-42c2-93b4-0ee47165ec83/","id":"478d4d02-b3e8-42c2-93b4-0ee47165ec83","name":"tone","description":"","evaluated":false,"body":"tmpl1
        defaultone","referenced_projects":[],"referenced_parameters":["https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/parameters/f7c564f2-6ead-4299-8b63-e93c5058700e/"],"referenced_templates":[],"referencing_templates":[],"referencing_values":[],"has_secret":false,"created_at":"2022-10-07T16:03:28.278052Z","modified_at":"2022-10-07T16:03:28.278052Z","parameters":["https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/parameters/f7c564f2-6ead-4299-8b63-e93c5058700e/"],"references":[],"referenced_by":[]}'
  recorded_at: Fri, 07 Oct 2022 16:03:40 GMT
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/tags/?name=test_tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
  recorded_at: Fri, 07 Oct 2022 16:03:43 GMT
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/tags/
    body:
      encoding: UTF-8
      string: '{"name":"test_tag"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/tags/7798f5d5-c219-47d9-a05d-ecb9838ca604/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/tags/7798f5d5-c219-47d9-a05d-ecb9838ca604/","id":"7798f5d5-c219-47d9-a05d-ecb9838ca604","name":"test_tag","description":"","timestamp":"2022-10-07T16:03:45.113884Z","pushes":[],"push_urls":[],"usage":{"last_read":null,"last_read_by":"","total_reads":0}}'
  recorded_at: Fri, 07 Oct 2022 16:03:45 GMT
- request:
    method: patch
    uri: https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/parameters/f7c564f2-6ead-4299-8b63-e93c5058700e/values/bae3c955-dfd6-4e40-b07c-c0e4310f0d46/
    body:
      encoding: UTF-8
      string: '{"internal_value":"newdefaultone"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
     [...]
[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/parameters/?environment=1c8d41fa-6cba-4bc4-8154-e41acf2e8d76&tag=test_tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, [...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/templates/?environment=1c8d41fa-6cba-4bc4-8154-e41acf2e8d76&tag=test_tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, H[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/templates/478d4d02-b3e8-42c2-93b4-0ee47165ec83/?environment=1c8d41fa-6cba-4bc4-8154-e41acf2e8d76&tag=test_tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/templates/478d4d02-b3e8-42c2-93b4-0ee47165ec83/","id":"478d4d02-b3e8-42c2-93b4-0ee47165ec83","name":"tone","description":"","evaluated":false,"body":"tmpl1
        defaultone","referenced_projects":[],"referenced_parameters":["https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/parameters/f7c564f2-6ead-4299-8b63-e93c5058700e/"],"referenced_templates":[],"referencing_templates":[],"referencing_values":[],"has_secret":false,"created_at":"2022-10-07T16:03:28.278052Z","modified_at":"2022-10-07T16:03:28.278052Z","parameters":["https://api.staging.cloudtruth.io/api/v1/projects/439ebfc8-e75a-4c19-8372-1fb4f6cfe82f/parameters/f7c564f2-6ead-4299-8b63-e93c5058700e/"],"references":[],"referenced_by":[]}'
  recorded_at: Fri, 07 Oct 2022 16:04:14 GMT
recorded_with: VCR 6.0.0
