---
http_interactions:
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":2,"next":null,"previous":null,"results":[{"url":"https://api.staging.cloudtruth.io/api/v1/projects/1e0926d8-bc4d-44d4-8c7d-e712e655a231/","id":"1e0926d8-bc4d-44d4-8c7d-e712e655a231","name":"MyFirstProject","description":"Your
        first project.","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-06-02T17:11:55.098134Z","modified_at":"2022-06-02T17:11:55.098134Z"},{"url":"https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/","id":"40bc65f5-3378-486d-971e-b4f543c57b1e","name":"TestProject","description":"","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-10-07T15:31:31.291894Z","modified_at":"2022-10-07T15:31:31.291894Z"}]}'
  recorded_at: Fri, 07 Oct 2022 15:32:03 GMT
- request:
    method: delete
    uri: https://api.staging.cloudtruth.io/api/v1/projects/40bc65f5-3378-486d-971e-b4f543c57b1e/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 07 Oct 2022 15:32:05 GMT
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/","id":"2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6","name":"TestProject","description":"","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-10-07T15:32:07.086902Z","modified_at":"2022-10-07T15:32:07.086902Z"}'
  recorded_at: Fri, 07 Oct 2022 15:32:07 GMT
[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one","type":"string"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/parameters/e0411d7b-f673-4baf-b7dc-a9ea3a6dbf0e/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/parameters/e0411d7b-f673-4baf-b7dc-a9ea3a6dbf0e/","id":"e0411d7b-f673-4baf-b7dc-a9ea3a6dbf0e","name":"one","description":"","secret":false,"type":"string","rules":[],"project":"https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/","project_name":"TestProject","referencing_templates":[],"referencing_values":[],"values":{"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/":null,"https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd24bd67274/":null,"https://api.staging.cloudtruth.io/api/v1/environments/0663ac09-5883-452b-bc1a-00e3347fece5/":null,"https://api.staging.cloudtruth.io/api/v1/environments/fc970cc2-c24f-427d-9c7a-70acde9f1b64/":null},"overrides":null,"created_at":"2022-10-07T15:32:10.016538Z","modified_at":"2022-10-07T15:32:10.016538Z","templates":[]}'
  recorded_at: Fri, 07 Oct 2022 15:32:10 GMT
[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/templates/
    body:
      encoding: UTF-8
      string: '{"name":"tone","body":"tmpl1 {{one}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/templates/bd765e5e-4996-495e-bb03-8762bbfa50e8/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/templates/bd765e5e-4996-495e-bb03-8762bbfa50e8/","id":"bd765e5e-4996-495e-bb03-8762bbfa50e8","name":"tone","description":"","evaluated":false,"body":"tmpl1
        {{one}}","referenced_projects":[],"referenced_parameters":["https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/parameters/e0411d7b-f673-4baf-b7dc-a9ea3a6dbf0e/"],"referenced_templates":[],"referencing_templates":[],"referencing_values":[],"has_secret":false,"created_at":"2022-10-07T15:32:13.060404Z","modified_at":"2022-10-07T15:32:13.060404Z","parameters":["https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/parameters/e0411d7b-f673-4baf-b7dc-a9ea3a6dbf0e/"],"references":[],"referenced_by":[]}'
  recorded_at: Fri, 07 Oct 2022 15:32:13 GMT
[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/environments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":4,"next":null,"previous":null,"results":[{"url":"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/","id":"1c8d41fa-6cba-4bc4-8154-e41acf2e8d76","name":"default","description":"Default
        environment, base for all environments.","parent":null,"children":["https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd24bd67274/","https://api.staging.cloudtruth.io/api/v1/environments/0663ac09-5883-452b-bc1a-00e3347fece5/","https://api.staging.cloudtruth.io/api/v1/environments/fc970cc2-c24f-427d-9c7a-70acde9f1b64/"],"access_controlled":false,"role":null,"created_at":"2022-06-02T17:11:55.112161Z","modified_at":"2022-06-02T17:13:09.641786Z"},{"url":"https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd2[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/parameters/ad82a5ad-0a1a-40c8-9018-70182fc44c44/values/
    body:
      encoding: UTF-8
      string: '{"environment":"1c8d41fa-6cba-4bc4-8154-e41acf2e8d76","external":false,"internal_value":"defaultthree"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/parameters/ad82a5ad-0a1a-40c8-9018-70182fc44c44/values/3a5e0a4c-a081-4e8f-817f-89096439bc3e/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/parameters/ad82a5ad-0a1a-40c8-9018-70182fc44c44/values/3a5e0a4c-a081-4e8f-817f-89096439bc3e/","id":"3a5e0a4c-a081-4e8f-817f-89096439bc3e","environment":"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/","environment_name":"default","parameter":"https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/parameters/ad82a5ad-0a1a-40c8-9018-70182fc44c44/","external":false,"external_fqn":"","external_filter":"","external_error":null,"external_status":null,"internal_value":null,"interpolated":false,"value":"defaultthree","evaluated":false,"secret":true,"referenced_projects":[],"referenced_parameters":[],"referenced_templates":[],"created_at":"2022-10-07T15:32:19.623649Z","modified_at":"2022-10-07T15:32:19.623649Z","dynamic":false,"dynamic_error":null,"dynamic_filter":"","dynamic_fqn":"","static_value":null}'
  recorded_at: Fri, 07 Oct 2022 15:32:19 GMT
[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/templates/?environment=1c8d41fa-6cba-4bc4-8154-e41acf2e8d76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/templates/d45ef08e-ae21-4264-b4aa-c611168c8903/?environment=1c8d41fa-6cba-4bc4-8154-e41acf2e8d76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/templates/d45ef08e-ae21-4264-b4aa-c611168c8903/","id":"d45ef08e-ae21-4264-b4aa-c611168c8903","name":"tthree","description":"","evaluated":false,"body":"tmpl3
        defaultthree","referenced_projects":[],"referenced_parameters":["https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/parameters/ad82a5ad-0a1a-40c8-9018-70182fc44c44/"],"referenced_templates":[],"referencing_templates":[],"referencing_values":[],"has_secret":true,"created_at":"2022-10-07T15:32:21.750559Z","modified_at":"2022-10-07T15:32:21.750559Z","parameters":["https://api.staging.cloudtruth.io/api/v1/projects/2a8acf1a-5c07-4c5f-bb19-1eedc48b26e6/parameters/ad82a5ad-0a1a-40c8-9018-70182fc44c44/"],"references":[],"referenced_by":[]}'
  recorded_at: Fri, 07 Oct 2022 15:32:25 GMT
recorded_with: VCR 6.0.0
