---
http_interactions:
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":24,"next":null,"previous":null,"results":[{"url":"https://api.cloudtruth.io/api/v1/projects/1a7b786e-9c62-4258-aef2-6cfd75c41a59/","id":"1a7b786e-9c62-4258-aef2-6cfd75c41a59","name":"cfdemo","description":"Configuration
        used to demo a CloudFormation prototype integration","dependents":[],"depends_on":null,"pushes":[],"created_at":"2021-07-21T20:05:26.661951Z","modified_at":"2021-11-23T23:08:12.562939Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/4fe2fe3c-c663-41af-8d63-ec5527a621c0/","id":"4fe2fe3c-c663-41af-8d63-ec5527a621c0","name":"common","description":"Shared
        across all projects","dependents":[],"depends_on":null,"pushes":[],"created_at":"2021-07-21T20:22:47.273990Z","modified_at":"2021-07-26T18:45:24.199158Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/dcb265f5-ce89-4e00-8b28-7ce873747b97/","id":"dcb265f5-ce89-4e00-8b28-7ce873747b97","n[...]
- request:
    method: delete
    uri: https://api.cloudtruth.io/api/v1/projects/273c3075-06ce-450b-afa6-245a8bee436f/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jan 2022 17:39:26 GMT
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/","id":"6da58cf2-2e90-47b7-bb43-5b58bcb5967f","name":"TestProject","description":"","dependents":[],"depends_on":null,"pushes":[],"created_at":"2022-01-04T17:39:26.597326Z","modified_at":"2022-01-04T17:39:26.597326Z"}'
  recorded_at: Tue, 04 Jan 2022 17:39:26 GMT
[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one","type":"string"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/parameters/b8b27d99-bacb-499e-bbb9-6d6cf1ea0cda/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/parameters/b8b27d99-bacb-499e-bbb9-6d6cf1ea0cda/","id":"b8b27d99-bacb-499e-bbb9-6d6cf1ea0cda","name":"one","description":"","secret":false,"type":"string","rules":[],"project":"https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/","project_name":"TestProject","referencing_templates":[],"referencing_values":[],"values":{"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/":null,"https://api.cloudtruth.io/api/v1/environments/c4de304d-5dd4-4a41-80ec-9a469f1aa4f5/":null,"https://api.cloudtruth.io/api/v1/environments/12b9c81b-9002-423b-9ca7-22cece646d07/":null,"https://api.cloudtruth.io/api/v1/environments/2281d9da-8376-4f45-baf2-372a71260dfa/":null,"https://api.cloudtruth.io/api/v1/environments/c99d6ab9-4674-4f76-bb43-da0b19124e18/":null,"https://api.cloudtruth.io/api/v1/environments/ef133a2e-3c9c-4229-a509-e56332baff40/":null,"https://api.cloudtruth.io/api/v1/environments/cde7cf9d-8bf2-46cb-9e97-dee9b99e4335/":null,"https://api.cloudtruth.io/api/v1/environments/e4399ff4-a962-451b-adfb-7e504ad6bb6d/":null,"https://api.cloudtruth.io/api/v1/environments/3afc0523-4722-4fa1-aaea-5d49beaa284d/":null},"created_at":"2022-01-04T17:39:27.804176Z","modified_at":"2022-01-04T17:39:27.804176Z","templates":[]}'
  recorded_at: Tue, 04 Jan 2022 17:39:27 GMT
[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/templates/
    body:
      encoding: UTF-8
      string: '{"name":"tone","body":"tmpl1 {{one}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/templates/5cb691f6-230e-4643-9612-7630d34deac4/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/templates/5cb691f6-230e-4643-9612-7630d34deac4/","id":"5cb691f6-230e-4643-9612-7630d34deac4","name":"tone","description":"","evaluated":false,"body":"tmpl1
        {{one}}","referenced_parameters":["https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/parameters/b8b27d99-bacb-499e-bbb9-6d6cf1ea0cda/"],"referenced_templates":[],"referencing_templates":[],"referencing_values":[],"has_secret":false,"created_at":"2022-01-04T17:39:30.310220Z","modified_at":"2022-01-04T17:39:30.310220Z","parameters":["https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/parameters/b8b27d99-bacb-499e-bbb9-6d6cf1ea0cda/"],"references":[],"referenced_by":[]}'
  recorded_at: Tue, 04 Jan 2022 17:39:30 GMT
[...]
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/environments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":9,"next":null,"previous":null,"results":[{"url":"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/","id":"e8bc190d-0354-4e66-91c9-64501e501ec5","name":"default","description":"The
        auto-generated default environment.","parent":null,"children":["https://api.cloudtruth.io/api/v1/environments/c4de304d-5dd4-4a41-80ec-9a469f1aa4f5/","https://api.cloudtruth.io/api/v1/environments/c99d6ab9-4674-4f76-bb43-da0b19124e18/","https://api.cloudtruth.io/api/v1/environments/ef133a2e-3c9c-4229-a509-e56332baff40/","https://api.cloudtruth.io/api/v1/environments/cde7cf9d-8bf2-46cb-9e97-dee9b99e4335/","https://api.cloudtruth.io/api/v1/environments/e4399ff4-a962-451b-adfb-7e504ad6bb6d/"],"created_at":"2021-07-20T18:14:09.023022Z","modified_at":"2022-01-04[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/parameters/319bc991-d982-42fe-8938-2ac6416e87f3/values/
    body:
      encoding: UTF-8
      string: '{"environment":"e8bc190d-0354-4e66-91c9-64501e501ec5","external":false,"internal_value":"defaultthree"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/parameters/319bc991-d982-42fe-8938-2ac6416e87f3/values/2492423a-a6dd-4c15-b635-a157a9f9a6ba/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/parameters/319bc991-d982-42fe-8938-2ac6416e87f3/values/2492423a-a6dd-4c15-b635-a157a9f9a6ba/","id":"2492423a-a6dd-4c15-b635-a157a9f9a6ba","environment":"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/","environment_name":"default","earliest_tag":null,"parameter":"https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/parameters/319bc991-d982-42fe-8938-2ac6416e87f3/","external":false,"external_fqn":"","external_filter":"","external_error":null,"internal_value":null,"interpolated":false,"value":"defaultthree","evaluated":false,"secret":true,"referenced_parameters":[],"referenced_templates":[],"created_at":"2022-01-04T17:39:32.907973Z","modified_at":"2022-01-04T17:39:33.315046Z","dynamic":false,"dynamic_error":null,"dynamic_filter":"","dynamic_fqn":"","static_value":null}'
  recorded_at: Tue, 04 Jan 2022 17:39:33 GMT
[...]
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/templates/c0d325f6-c783-4d6d-9711-1ffc376ee429/?environment=e8bc190d-0354-4e66-91c9-64501e501ec5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/templates/c0d325f6-c783-4d6d-9711-1ffc376ee429/","id":"c0d325f6-c783-4d6d-9711-1ffc376ee429","name":"tthree","description":"","evaluated":false,"body":"tmpl3
        defaultthree","referenced_parameters":["https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/parameters/319bc991-d982-42fe-8938-2ac6416e87f3/"],"referenced_templates":[],"referencing_templates":[],"referencing_values":[],"has_secret":true,"created_at":"2022-01-04T17:39:34.101827Z","modified_at":"2022-01-04T17:39:34.101827Z","parameters":["https://api.cloudtruth.io/api/v1/projects/6da58cf2-2e90-47b7-bb43-5b58bcb5967f/parameters/319bc991-d982-42fe-8938-2ac6416e87f3/"],"references":[],"referenced_by":[]}'
  recorded_at: Tue, 04 Jan 2022 17:39:35 GMT
recorded_with: VCR 6.0.0
