---
http_interactions:
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":17,"next":null,"previous":null,"results":[{"url":"https://api.cloudtruth.io/api/v1/projects/1a7b786e-9c62-4258-aef2-6cfd75c41a59/","id":"1a7b786e-9c62-4258-aef2-6cfd75c41a59","name":"cfdemo","description":"Configuration
        used to demo a CloudFormation prototype integration","created_at":"2021-07-21T20:05:26.661951Z","modified_at":"2021-07-26T18:44:53.124105Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/4fe2fe3c-c663-41af-8d63-ec5527a621c0/","id":"4fe2fe3c-c663-41af-8d63-ec5527a621c0","name":"common","description":"Shared
        across all projects","created_at":"2021-07-21T20:22:47.273990Z","modified_at":"2021-07-26T18:45:24.199158Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/dcb265f5-ce89-4e00-8b28-7ce873747b97/","id":"dcb265f5-ce89-4e00-8b28-7ce873747b97","name":"common-service","description":"The
     [...]
- request:
    method: delete
    uri: https://api.cloudtruth.io/api/v1/projects/3d902f88-cf7b-4fa8-8430-2241ea665381/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Sep 2021 15:29:51 GMT
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/48142c51-145b-433c-872d-f24a893bf50f/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/48142c51-145b-433c-872d-f24a893bf50f/","id":"48142c51-145b-433c-872d-f24a893bf50f","name":"TestProject","description":"","created_at":"2021-09-22T15:29:52.012673Z","modified_at":"2021-09-22T15:29:52.012673Z"}'
  recorded_at: Wed, 22 Sep 2021 15:29:51 GMT
[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/48142c51-145b-433c-872d-f24a893bf50f/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/48142c51-145b-433c-872d-f24a893bf50f/parameters/56c17797-f4dc-4347-980f-f946185a6c55/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/48142c51-145b-433c-872d-f24a893bf50f/parameters/56c17797-f4dc-4347-980f-f946185a6c55/","id":"56c17797-f4dc-4347-980f-f946185a6c55","name":"one","description":"","secret":false,"type":"string","rules":[],"templates":[],"values":{"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/":null,"https://api.cloudtruth.io/api/v1/environments/c4de304d-5dd4-4a41-80ec-9a469f1aa4f5/":null,"https://api.cloudtruth.io/api/v1/environments/12b9c81b-9002-423b-9ca7-22cece646d07/":null,"https://api.cloudtruth.io/api/v1/environments/2281d9da-8376-4f45-baf2-372a71260dfa/":null,"https://api.cloudtruth.io/api/v1/environments/c99d6ab9-4674-4f76-bb43-da0b19124e18/":null,"https://api.cloudtruth.io/api/v1/environments/ef133a2e-3c9c-4229-a509-e56332baff40/":null,"https://api.cloudtruth.io/api/v1/environments/cde7cf9d-8bf2-46cb-9e97-dee9b99e4335/":null,"https://api.cloudtruth.io/api/v1/environments/e4399ff4-a962-451b-adfb-7e504ad6bb6d/":null,"https://api.cloudtruth.io/api/v1/environments/3afc0523-4722-4fa1-aaea-5d49beaa284d/":null},"created_at":"2021-09-22T15:29:52.860601Z","modified_at":"2021-09-22T15:29:52.860601Z"}'
  recorded_at: Wed, 22 Sep 2021 15:29:52 GMT
[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/48142c51-145b-433c-872d-f24a893bf50f/templates/
    body:
      encoding: UTF-8
      string: '{"name":"one","body":"tmpl1 {{one}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/48142c51-145b-433c-872d-f24a893bf50f/templates/192c9da4-68d3-4a51-aca2-b2d98f3f2de0/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/48142c51-145b-433c-872d-f24a893bf50f/templates/192c9da4-68d3-4a51-aca2-b2d98f3f2de0/","id":"192c9da4-68d3-4a51-aca2-b2d98f3f2de0","name":"one","description":"","body":"tmpl1
        {{one}}","parameters":["https://api.cloudtruth.io/api/v1/projects/48142c51-145b-433c-872d-f24a893bf50f/parameters/56c17797-f4dc-4347-980f-f946185a6c55/"],"references":[],"referenced_by":[],"has_secret":false,"created_at":"2021-09-22T15:29:53.902272Z","modified_at":"2021-09-22T15:29:53.902272Z"}'
  recorded_at: Wed, 22 Sep 2021 15:29:53 GMT
[...]
