---
http_interactions:
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":24,"next":null,"previous":null,"results":[{"url":"https://api.cloudtruth.io/api/v1/projects/1a7b786e-9c62-4258-aef2-6cfd75c41a59/","id":"1a7b786e-9c62-4258-aef2-6cfd75c41a59","name":"cfdemo","description":"Configuration
        used to demo a CloudFormation prototype integration","dependents":[],"depends_on":null,"pushes":[],"created_at":"2021-07-21T20:05:26.661951Z","modified_at":"2021-11-23T23:08:12.562939Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/4fe2fe3c-c663-41af-8d63-ec5527a621c0/","id":"4fe2fe3c-c663-41af-8d63-ec5527a621c0","name":"common","description":"Shared
        across all projects","dependents":[],"depends_on":null,"pushes":[],"created_at":"2021-07-21T20:22:47.273990Z","modified_at":"2021-07-26T18:45:24.199158Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/dcb265f5-ce89-4e00-8b28-7ce873747b97/","id":"dcb265f5-ce89-4e00-8b28-7ce873747b97","n[...]
- request:
    method: delete
    uri: https://api.cloudtruth.io/api/v1/projects/1ebeb8c6-969f-4618-b15b-dfe83d2650a3/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jan 2022 17:39:00 GMT
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/89a4202e-3507-4c4c-8e65-eb460bcaa381/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/89a4202e-3507-4c4c-8e65-eb460bcaa381/","id":"89a4202e-3507-4c4c-8e65-eb460bcaa381","name":"TestProject","description":"","dependents":[],"depends_on":null,"pushes":[],"created_at":"2022-01-04T17:39:00.998431Z","modified_at":"2022-01-04T17:39:00.998431Z"}'
  recorded_at: Tue, 04 Jan 2022 17:39:00 GMT
[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/89a4202e-3507-4c4c-8e65-eb460bcaa381/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one","type":"string"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/89a4202e-3507-4c4c-8e65-eb460bcaa381/parameters/9b55a0bc-4698-493d-b944-68c416c9c574/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/89a4202e-3507-4c4c-8e65-eb460bcaa381/parameters/9b55a0bc-4698-493d-b944-68c416c9c574/","id":"9b55a0bc-4698-493d-b944-68c416c9c574","name":"one","description":"","secret":false,"type":"string","rules":[],"project":"https://api.cloudtruth.io/api/v1/projects/89a4202e-3507-4c4c-8e65-eb460bcaa381/","project_name":"TestProject","referencing_templates":[],"referencing_values":[],"values":{"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/":null,"https://api.cloudtruth.io/api/v1/environments/c4de304d-5dd4-4a41-80ec-9a469f1aa4f5/":null,"https://api.cloudtruth.io/api/v1/environments/12b9c81b-9002-423b-9ca7-22cece646d07/":null,"https://api.cloudtruth.io/api/v1/environments/2281d9da-8376-4f45-baf2-372a71260dfa/":null,"https://api.cloudtruth.io/api/v1/environments/c99d6ab9-4674-4f76-bb43-da0b19124e18/":null,"https://api.cloudtruth.io/api/v1/environments/ef133a2e-3c9c-4229-a509-e56332baff40/":null,"https://api.cloudtruth.io/api/v1/environments/cde7cf9d-8bf2-46cb-9e97-dee9b99e4335/":null,"https://api.cloudtruth.io/api/v1/environments/e4399ff4-a962-451b-adfb-7e504ad6bb6d/":null,"https://api.cloudtruth.io/api/v1/environments/3afc0523-4722-4fa1-aaea-5d49beaa284d/":null},"created_at":"2022-01-04T17:39:02.710705Z","modified_at":"2022-01-04T17:39:02.710705Z","templates":[]}'
  recorded_at: Tue, 04 Jan 2022 17:39:02 GMT
[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/89a4202e-3507-4c4c-8e65-eb460bcaa381/templates/
    body:
      encoding: UTF-8
      string: '{"name":"tone","body":"tmpl1 {{one}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/89a4202e-3507-4c4c-8e65-eb460bcaa381/templates/bcfd74ae-06d3-4229-9f34-a0408f012725/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/89a4202e-3507-4c4c-8e65-eb460bcaa381/templates/bcfd74ae-06d3-4229-9f34-a0408f012725/","id":"bcfd74ae-06d3-4229-9f34-a0408f012725","name":"tone","description":"","evaluated":false,"body":"tmpl1
        {{one}}","referenced_parameters":["https://api.cloudtruth.io/api/v1/projects/89a4202e-3507-4c4c-8e65-eb460bcaa381/parameters/9b55a0bc-4698-493d-b944-68c416c9c574/"],"referenced_templates":[],"referencing_templates":[],"referencing_values":[],"has_secret":false,"created_at":"2022-01-04T17:39:03.938291Z","modified_at":"2022-01-04T17:39:03.938291Z","parameters":["https://api.cloudtruth.io/api/v1/projects/89a4202e-3507-4c4c-8e65-eb460bcaa381/parameters/9b55a0bc-4698-493d-b944-68c416c9c574/"],"references":[],"referenced_by":[]}'
  recorded_at: Tue, 04 Jan 2022 17:39:04 GMT
[...]
