---
http_interactions:
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":19,"next":null,"previous":null,"results":[{"url":"https://api.cloudtruth.io/api/v1/projects/1a7b786e-9c62-4258-aef2-6cfd75c41a59/","id":"1a7b786e-9c62-4258-aef2-6cfd75c41a59","name":"cfdemo","description":"Configuration
        used to demo a CloudFormation prototype integration","dependents":[],"depends_on":null,"pushes":[],"created_at":"2021-07-21T20:05:26.661951Z","modified_at":"2021-11-23T23:08:12.562939Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/4fe2fe3c-c663-41af-8d63-ec5527a621c0/","id":"4fe2fe3c-c663-41af-8d63-ec5527a621c0","name":"common","description":"Shared
        across all projects","dependents":[],"depends_on":null,"pushes":[],"created_at":"2021-07-21T20:22:47.273990Z","modified_at":"2021-07-26T18:45:24.199158Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/dcb265f5-ce89-4e00-8b28-7ce873747b97/","id":"dcb265f5-ce89-4e00-8b28-7ce873747b97","n[...]
- request:
    method: delete
    uri: https://api.cloudtruth.io/api/v1/projects/8fd06476-2db0-4e3b-b6e8-4ac1eb43cd90/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 30 Nov 2021 15:12:16 GMT
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/6b57f2c0-4428-45c2-81d8-13e6149b1287/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/6b57f2c0-4428-45c2-81d8-13e6149b1287/","id":"6b57f2c0-4428-45c2-81d8-13e6149b1287","name":"TestProject","description":"","dependents":[],"depends_on":null,"pushes":[],"created_at":"2021-11-30T15:12:16.806884Z","modified_at":"2021-11-30T15:12:16.806884Z"}'
  recorded_at: Tue, 30 Nov 2021 15:12:16 GMT
[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/6b57f2c0-4428-45c2-81d8-13e6149b1287/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/6b57f2c0-4428-45c2-81d8-13e6149b1287/parameters/de7652ef-e41d-4e51-941a-d001bf7f1e7f/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/6b57f2c0-4428-45c2-81d8-13e6149b1287/parameters/de7652ef-e41d-4e51-941a-d001bf7f1e7f/","id":"de7652ef-e41d-4e51-941a-d001bf7f1e7f","name":"one","description":"","secret":false,"type":"string","rules":[],"project":"https://api.cloudtruth.io/api/v1/projects/6b57f2c0-4428-45c2-81d8-13e6149b1287/","project_name":"TestProject","referencing_templates":[],"referencing_values":[],"values":{"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/":null,"https://api.cloudtruth.io/api/v1/environments/c4de304d-5dd4-4a41-80ec-9a469f1aa4f5/":null,"https://api.cloudtruth.io/api/v1/environments/12b9c81b-9002-423b-9ca7-22cece646d07/":null,"https://api.cloudtruth.io/api/v1/environments/2281d9da-8376-4f45-baf2-372a71260dfa/":null,"https://api.cloudtruth.io/api/v1/environments/c99d6ab9-4674-4f76-bb43-da0b19124e18/":null,"https://api.cloudtruth.io/api/v1/environments/ef133a2e-3c9c-4229-a509-e56332baff40/":null,"https://api.cloudtruth.io/api/v1/environments/cde7cf9d-8bf2-46cb-9e97-dee9b99e4335/":null,"https://api.cloudtruth.io/api/v1/environments/e4399ff4-a962-451b-adfb-7e504ad6bb6d/":null,"https://api.cloudtruth.io/api/v1/environments/3afc0523-4722-4fa1-aaea-5d49beaa284d/":null},"created_at":"2021-11-30T15:12:17.927504Z","modified_at":"2021-11-30T15:12:17.927504Z","templates":[]}'
  recorded_at: Tue, 30 Nov 2021 15:12:18 GMT
[...]
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/environments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":9,"next":null,"previous":null,"results":[{"url":"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/","id":"e8bc190d-0354-4e66-91c9-64501e501ec5","name":"default","description":"The
        auto-generated default environment.","parent":null,"children":["https://api.cloudtruth.io/api/v1/environments/c4de304d-5dd4-4a41-80ec-9a469f1aa4f5/","https://api.cloudtruth.io/api/v1/environments/c99d6ab9-4674-4f76-bb43-da0b19124e18/","https://api.cloudtruth.io/api/v1/environments/ef133a2e-3c9c-4229-a509-e56332baff40/","https://api.cloudtruth.io/api/v1/environments/cde7cf9d-8bf2-46cb-9e97-dee9b99e4335/","https://api.cloudtruth.io/api/v1/environments/e4399ff4-a962-451b-adfb-7e504ad6bb6d/"],"created_at":"2021-07-20T18:14:09.023022Z","modified_at":"2021-11-30[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/6b57f2c0-4428-45c2-81d8-13e6149b1287/parameters/ad7c9c53-d9b7-4e2a-99d8-690555d91e1e/values/
    body:
      encoding: UTF-8
      string: '{"environment":"e8bc190d-0354-4e66-91c9-64501e501ec5","external":false,"internal_value":"defaultthree"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/6b57f2c0-4428-45c2-81d8-13e6149b1287/parameters/ad7c9c53-d9b7-4e2a-99d8-690555d91e1e/values/547d504e-21e8-4c69-bcca-ee5628da01d8/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/6b57f2c0-4428-45c2-81d8-13e6149b1287/parameters/ad7c9c53-d9b7-4e2a-99d8-690555d91e1e/values/547d504e-21e8-4c69-bcca-ee5628da01d8/","id":"547d504e-21e8-4c69-bcca-ee5628da01d8","environment":"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/","environment_name":"default","earliest_tag":null,"parameter":"https://api.cloudtruth.io/api/v1/projects/6b57f2c0-4428-45c2-81d8-13e6149b1287/parameters/ad7c9c53-d9b7-4e2a-99d8-690555d91e1e/","external":false,"external_fqn":"","external_filter":"","external_error":null,"internal_value":null,"interpolated":false,"value":"defaultthree","evaluated":false,"secret":true,"referenced_parameters":[],"referenced_templates":[],"created_at":"2021-11-30T15:12:20.595102Z","modified_at":"2021-11-30T15:12:21.024229Z","dynamic":false,"dynamic_error":null,"dynamic_filter":"","dynamic_fqn":"","static_value":null}'
  recorded_at: Tue, 30 Nov 2021 15:12:21 GMT
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/projects/6b57f2c0-4428-45c2-81d8-13e6149b1287/parameters/?environment=e8bc190d-0354-4e66-91c9-64501e501ec5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    bod[...]
