---
http_interactions:
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":17,"next":null,"previous":null,"results":[{"url":"https://api.cloudtruth.io/api/v1/projects/1a7b786e-9c62-4258-aef2-6cfd75c41a59/","id":"1a7b786e-9c62-4258-aef2-6cfd75c41a59","name":"cfdemo","description":"Configuration
        used to demo a CloudFormation prototype integration","created_at":"2021-07-21T20:05:26.661951Z","modified_at":"2021-07-26T18:44:53.124105Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/4fe2fe3c-c663-41af-8d63-ec5527a621c0/","id":"4fe2fe3c-c663-41af-8d63-ec5527a621c0","name":"common","description":"Shared
        across all projects","created_at":"2021-07-21T20:22:47.273990Z","modified_at":"2021-07-26T18:45:24.199158Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/dcb265f5-ce89-4e00-8b28-7ce873747b97/","id":"dcb265f5-ce89-4e00-8b28-7ce873747b97","name":"common-service","description":"The
     [...]
- request:
    method: delete
    uri: https://api.cloudtruth.io/api/v1/projects/12951e75-0e45-4a73-804b-487a26ca04a7/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Sep 2021 15:29:31 GMT
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/40d1e235-196d-4291-8c43-65900f3582e7/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/40d1e235-196d-4291-8c43-65900f3582e7/","id":"40d1e235-196d-4291-8c43-65900f3582e7","name":"TestProject","description":"","created_at":"2021-09-22T15:29:32.521982Z","modified_at":"2021-09-22T15:29:32.521982Z"}'
  recorded_at: Wed, 22 Sep 2021 15:29:32 GMT
[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/40d1e235-196d-4291-8c43-65900f3582e7/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/40d1e235-196d-4291-8c43-65900f3582e7/parameters/6b3e95b7-b58f-4829-a613-1b06a297943f/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/40d1e235-196d-4291-8c43-65900f3582e7/parameters/6b3e95b7-b58f-4829-a613-1b06a297943f/","id":"6b3e95b7-b58f-4829-a613-1b06a297943f","name":"one","description":"","secret":false,"type":"string","rules":[],"templates":[],"values":{"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/":null,"https://api.cloudtruth.io/api/v1/environments/c4de304d-5dd4-4a41-80ec-9a469f1aa4f5/":null,"https://api.cloudtruth.io/api/v1/environments/12b9c81b-9002-423b-9ca7-22cece646d07/":null,"https://api.cloudtruth.io/api/v1/environments/2281d9da-8376-4f45-baf2-372a71260dfa/":null,"https://api.cloudtruth.io/api/v1/environments/c99d6ab9-4674-4f76-bb43-da0b19124e18/":null,"https://api.cloudtruth.io/api/v1/environments/ef133a2e-3c9c-4229-a509-e56332baff40/":null,"https://api.cloudtruth.io/api/v1/environments/cde7cf9d-8bf2-46cb-9e97-dee9b99e4335/":null,"https://api.cloudtruth.io/api/v1/environments/e4399ff4-a962-451b-adfb-7e504ad6bb6d/":null,"https://api.cloudtruth.io/api/v1/environments/3afc0523-4722-4fa1-aaea-5d49beaa284d/":null},"created_at":"2021-09-22T15:29:33.543977Z","modified_at":"2021-09-22T15:29:33.543977Z"}'
  recorded_at: Wed, 22 Sep 2021 15:29:33 GMT
[...]
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/environments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":9,"next":null,"previous":null,"results":[{"url":"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/","id":"e8bc190d-0354-4e66-91c9-64501e501ec5","name":"default","description":"The
        auto-generated default environment.","parent":null,"created_at":"2021-07-20T18:14:09.023022Z","modified_at":"2021-09-22T15:27:37.933625Z"},{"url":"https://api.cloudtruth.io/api/v1/environments/c4de304d-5dd4-4a41-80ec-9a469f1aa4f5/","id":"c4de304d-5dd4-4a41-80ec-9a469f1aa4f5","name":"development","description":"","parent":"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/","created_at":"2021-07-20T18:14:09.035255Z","modified_at":"2021-09-22T14:27:50.149570Z"},{"url":"https://api.cloudtruth.io/api/v1/environm[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/40d1e235-196d-4291-8c43-65900f3582e7/parameters/91ad3fe8-71d2-4ee1-b0ee-f89b44dcfc43/values/
    body:
      encoding: UTF-8
      string: '{"environment":"e8bc190d-0354-4e66-91c9-64501e501ec5","external":false,"internal_value":"defaultthree"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/40d1e235-196d-4291-8c43-65900f3582e7/parameters/91ad3fe8-71d2-4ee1-b0ee-f89b44dcfc43/values/8dc060e2-bd4d-4713-be62-a8e06529df22/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/40d1e235-196d-4291-8c43-65900f3582e7/parameters/91ad3fe8-71d2-4ee1-b0ee-f89b44dcfc43/values/8dc060e2-bd4d-4713-be62-a8e06529df22/","id":"8dc060e2-bd4d-4713-be62-a8e06529df22","environment":"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/","environment_name":"default","earliest_tag":null,"parameter":"https://api.cloudtruth.io/api/v1/projects/40d1e235-196d-4291-8c43-65900f3582e7/parameters/91ad3fe8-71d2-4ee1-b0ee-f89b44dcfc43/","external":false,"external_fqn":"","external_filter":"","external_error":null,"internal_value":null,"value":"defaultthree","secret":true,"created_at":"2021-09-22T15:29:35.571119Z","modified_at":"2021-09-22T15:29:35.969797Z","static_value":null,"dynamic":false,"dynamic_error":null,"dynamic_filter":"","dynamic_fqn":""}'
  recorded_at: Wed, 22 Sep 2021 15:29:35 GMT
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/projects/40d1e235-196d-4291-8c43-65900f3582e7/parameters/?environment=e8bc190d-0354-4e66-91c9-64501e501ec5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    bod[...]
