---
http_interactions:
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":10,"next":null,"previous":null,"results":[{"url":"https://api.staging.cloudtruth.io/api/v1/projects/88fdbb2c-fc0f-41a2-82aa-e152170d4a65/","id":"88fdbb2c-fc0f-41a2-82aa-e152170d4a65","ledger_id":"fe611019-2604-4335-9f88-076df1b0b6cf","name":"backend","parameter_name_pattern":"","description":"The
        config for the backend service","dependents":[],"depends_on":"https://api.staging.cloudtruth.io/api/v1/projects/416d99ef-07ec-4df0-80a8-3d014a407901/","access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-03-09T22:14:36.261140Z","modified_at":"2022-03-09T22:28:43.609306Z"},{"url":"https://api.staging.cloudtruth.io/api/v1/projects/8a005cf1-b1c7-49b0-81ab-c2f9d4de3720/","id":"8a005cf1-b1c7-49b0-81ab-c2f9d4de3720","ledger_id":"81a4165c-b16a-4a4d-b444-51ef34ed3f39","name":"common","parameter_name_pattern":"","description":"config
        common to all","dependents":["https://api.staging.cloudtruth.io/api/v1/projects/6f18d16a-4181-4259-a63e-12a9b6103a46/","https://api.staging.cloudtruth.io/api/v1/projects/416d99ef-07ec-4df0-80a8-3d014a407901/","https://api.staging.cloudtruth.io/api/v1/projects/91952acc-4e5d-493e-8bb8-854dd30ae147/"],"depends_on":null,"access_controlled":false,"role":null,"pushes":[{"url":"https://api.staging.cloudtruth.io/api/v1/integrations/aws/a7fbbdae-2bae-4637-bca4-b4a30b8adf72/pushes/d14d8c81-5e2d-427f-9b63-a25557e1f002/","id":"d14d8c81-5e2d-427f-9b63-a25557e1f002","name":"smtest","description":"","latest_task":{"url":"https://api.staging.cloudtruth.io/api/v1/integrations/aws/a7fbbdae-2bae-4637-bca4-b4a30b8adf72/pushes/d14d8c81-5e2d-427f-9b63-a25557e1f002/tasks/7d514df3-09f7-40b2-aa09-a2528070c1a8/","id":"7d514df3-09f7-40b2-aa09-a2528070c1a8","reason":"push
        updated","dry_run":true,"state":"success","error_code":null,"error_detail":null,"created_at":"2022-07-22T16:41:09.376136Z","modified_at":"2022-07-22T16:41:23.050489Z"},"created_at":"2022-07-11T19:32:21.425123Z","modified_at":"2022-07-22T16:41:09.351183Z","coerce_parameters":true,"include_parameters":true,"include_secrets":true,"include_templates":false,"dry_run":true,"force":false,"local":false,"projects":["https://api.staging.cloudtruth.io/api/v1/projects/8a005cf1-b1c7-49b0-81ab-c2f9d4de3720/"],"tags":["https://api.staging.cloudtruth.io/api/v1/environments/21c25551-8ef7-4510-88a2-a021282d0932/tags/62f7d047-3ddd-4f86-aa4e-a7fadbda74ad/","https://api.staging.cloudtruth.io/api/v1/environments/89665d29-7b3c-4276-8c8e-3c64e057fd77/tags/da6a67ca-5fce-4c06-9162-143590ed269f/"],"region":"us-east-1","service":"secretsmanager","resource":"sample/{{
        environment }}/{{ project }}/{{ parameter }}"}],"push_urls":["https://api.staging.cloudtruth.io/api/v1/integrations/aws/a7fbbdae-2bae-4637-bca4-b4a30b8adf72/pushes/d14d8c81-5e2d-427f-9b63-a25557e1f002/"],"created_at":"2022-03-09T22:10:03.351082Z","modified_at":"2022-03-09T22:27:30.410706Z"},{"url":"https://api.staging.cloudtruth.io/api/v1/projects/6f18d16a-4181-4259-a63e-12a9b6103a46/","id":"6f18d16a-4181-4259-a63e-12a9b6103a46","ledger_id":"81d5c40f-7907-4e90-aa7b-6df3d839724[...]
- request:
    method: delete
    uri: https://api.staging.cloudtruth.io/api/v1/projects/032c0a4a-8ce8-425d-b38e-51b645a9a790/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 15 Mar 2023 13:56:16 GMT
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/cb1b2263-1587-42cc-b8c3-7500830d9e57/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/cb1b2263-1587-42cc-b8c3-7500830d9e57/","id":"cb1b2263-1587-42cc-b8c3-7500830d9e57","ledger_id":"7cbf59ef-4c66-4417-b7ac-37decb06a483","name":"TestProject","parameter_name_pattern":"","description":"","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2023-03-15T13:56:18.569834Z","modified_at":"2023-03-15T13:56:18.569834Z"}'
  recorded_at: Wed, 15 Mar 2023 13:56:18 GMT
[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/cb1b2263-1587-42cc-b8c3-7500830d9e57/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one","type":"string"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/cb1b2263-1587-42cc-b8c3-7500830d9e57/parameters/e95d8cf8-13b9-46c5-a736-a22753345ab5/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/cb1b2263-1587-42cc-b8c3-7500830d9e57/parameters/e95d8cf8-13b9-46c5-a736-a22753345ab5/","id":"e95d8cf8-13b9-46c5-a736-a22753345ab5","ledger_id":"565456b1-0842-40a8-833e-21a8e8b4ba9e","name":"one","description":"","secret":false,"type":"string","rules":[],"project":"https://api.staging.cloudtruth.io/api/v1/projects/cb1b2263-1587-42cc-b8c3-7500830d9e57/","project_name":"TestProject","referencing_templates":[],"referencing_values":[],"values":{"https://api.staging.cloudtruth.io/api/v1/environments/84b011d4-6bf8-42c5-ad61-0029d7c09d94/":null,"https://api.staging.cloudtruth.io/api/v1/environments/d21e7d9c-f551-4be9-8473-b47564788e6f/":null,"https://api.staging.cloudtruth.io/api/v1/environments/89665d29-7b3c-4276-8c8e-3c64e057fd77/":null,"https://api.staging.cloudtruth.io/api/v1/environments/21c25551-8ef7-4510-88a2-a021282d0932/":null},"overrides":null,"created_at":"2023-03-15T13:56:21.422306Z","modified_at":"2023-03-15T13:56:21.422306Z","templates":[],"values_flat":[]}'
  recorded_at: Wed, 15 Mar 2023 13:56:21 GMT
[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/environments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":4,"next":null,"previous":null,"results":[{"url":"https://api.staging.cloudtruth.io/api/v1/environments/21c25551-8ef7-4510-88a2-a021282d0932/","id":"21c25551-8ef7-4510-88a2-a021282d0932","ledger_id":"42f9a65b-ae2e-4528-8ab1-861f003c1f28","name":"default","description":"Default
        environment, base for all environments.","parent":null,"children":["https://api.staging.cloudtruth.io/api/v1/environments/84b011d4-6bf8-42c5-ad61-0029d7c09d94/","https://api.staging.cloudtruth.io/api/v1/environments/d21e7d9c-f551-4be9-8473-b47564788e6f/","https://api.staging.cloudtruth.io/api/v1/environments/89665d29-7b3c-4276-8c8e-3c64e057fd77/"],"access_controlled":false,"role":null,"created_at":"2021-07-20T18:38:22.634610Z","modified_at":"2022-03-09T22:27:16.103027Z"},{"url":"https://api.staging.cloudtruth.io/api/v1/environments/84b011d4-6bf8-42c5-ad61-0029[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/cb1b2263-1587-42cc-b8c3-7500830d9e57/parameters/d93fc2d8-a6ce-436d-b176-4fbcff9bb9f6/values/
    body:
      encoding: UTF-8
      string: '{"environment":"21c25551-8ef7-4510-88a2-a021282d0932","external":false,"internal_value":"defaultthree"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/cb1b2263-1587-42cc-b8c3-7500830d9e57/parameters/d93fc2d8-a6ce-436d-b176-4fbcff9bb9f6/values/544d03ec-bfbf-45c3-be9b-c792ea2da03c/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/cb1b2263-1587-42cc-b8c3-7500830d9e57/parameters/d93fc2d8-a6ce-436d-b176-4fbcff9bb9f6/values/544d03ec-bfbf-45c3-be9b-c792ea2da03c/","id":"544d03ec-bfbf-45c3-be9b-c792ea2da03c","ledger_id":"b9d7a7ce-e3ec-4d02-a272-ec1a4f9e7cf8","environment":"https://api.staging.cloudtruth.io/api/v1/environments/21c25551-8ef7-4510-88a2-a021282d0932/","environment_id":"21c25551-8ef7-4510-88a2-a021282d0932","environment_name":"default","parameter":"https://api.staging.cloudtruth.io/api/v1/projects/cb1b2263-1587-42cc-b8c3-7500830d9e57/parameters/d93fc2d8-a6ce-436d-b176-4fbcff9bb9f6/","parameter_id":"d93fc2d8-a6ce-436d-b176-4fbcff9bb9f6","external":false,"external_fqn":"","external_filter":"","external_error":null,"external_status":null,"internal_value":null,"interpolated":false,"value":"defaultthree","evaluated":false,"secret":true,"referenced_projects":[],"referenced_parameters":[],"referenced_templates":[],"created_at":"2023-03-15T13:56:26.781138Z","modified_at":"2023-03-15T13:56:26.781138Z","dynamic":false,"dynamic_error":null,"dynamic_filter":"","dynamic_fqn":"","static_value":null}'
  recorded_at: Wed, 15 Mar 2023 13:56:26 GMT
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/cb1b2263-1587-42cc-b8c3-7500830d9e57/parameters/?environment=21c25551-8ef7-4510-88a2-a021282d0932
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS[...]
