---
http_interactions:
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":17,"next":null,"previous":null,"results":[{"url":"https://api.cloudtruth.io/api/v1/projects/1a7b786e-9c62-4258-aef2-6cfd75c41a59/","id":"1a7b786e-9c62-4258-aef2-6cfd75c41a59","name":"cfdemo","description":"Configuration
        used to demo a CloudFormation prototype integration","created_at":"2021-07-21T20:05:26.661951Z","modified_at":"2021-07-26T18:44:53.124105Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/4fe2fe3c-c663-41af-8d63-ec5527a621c0/","id":"4fe2fe3c-c663-41af-8d63-ec5527a621c0","name":"common","description":"Shared
        across all projects","created_at":"2021-07-21T20:22:47.273990Z","modified_at":"2021-07-26T18:45:24.199158Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/dcb265f5-ce89-4e00-8b28-7ce873747b97/","id":"dcb265f5-ce89-4e00-8b28-7ce873747b97","name":"common-service","description":"The
     [...]
- request:
    method: delete
    uri: https://api.cloudtruth.io/api/v1/projects/8685b4ec-6f1a-471a-9e9b-a4d601bfd1db/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Sep 2021 18:10:14 GMT
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/9eb14fef-951b-4dc8-a347-d9f82236a2ab/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/9eb14fef-951b-4dc8-a347-d9f82236a2ab/","id":"9eb14fef-951b-4dc8-a347-d9f82236a2ab","name":"TestProject","description":"","created_at":"2021-09-24T18:10:14.710735Z","modified_at":"2021-09-24T18:10:14.710735Z"}'
  recorded_at: Fri, 24 Sep 2021 18:10:14 GMT
[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/9eb14fef-951b-4dc8-a347-d9f82236a2ab/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/9eb14fef-951b-4dc8-a347-d9f82236a2ab/parameters/e7b80828-d1d4-4945-9c60-5e12078dc72e/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/9eb14fef-951b-4dc8-a347-d9f82236a2ab/parameters/e7b80828-d1d4-4945-9c60-5e12078dc72e/","id":"e7b80828-d1d4-4945-9c60-5e12078dc72e","name":"one","description":"","secret":false,"type":"string","rules":[],"referencing_templates":[],"referencing_values":[],"values":{"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/":null,"https://api.cloudtruth.io/api/v1/environments/c4de304d-5dd4-4a41-80ec-9a469f1aa4f5/":null,"https://api.cloudtruth.io/api/v1/environments/12b9c81b-9002-423b-9ca7-22cece646d07/":null,"https://api.cloudtruth.io/api/v1/environments/2281d9da-8376-4f45-baf2-372a71260dfa/":null,"https://api.cloudtruth.io/api/v1/environments/c99d6ab9-4674-4f76-bb43-da0b19124e18/":null,"https://api.cloudtruth.io/api/v1/environments/ef133a2e-3c9c-4229-a509-e56332baff40/":null,"https://api.cloudtruth.io/api/v1/environments/cde7cf9d-8bf2-46cb-9e97-dee9b99e4335/":null,"https://api.cloudtruth.io/api/v1/environments/e4399ff4-a962-451b-adfb-7e504ad6bb6d/":null,"https://api.cloudtruth.io/api/v1/environments/3afc0523-4722-4fa1-aaea-5d49beaa284d/":null},"created_at":"2021-09-24T18:10:15.725973Z","modified_at":"2021-09-24T18:10:15.725973Z","templates":[]}'
  recorded_at: Fri, 24 Sep 2021 18:10:15 GMT
[...]
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/environments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":9,"next":null,"previous":null,"results":[{"url":"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/","id":"e8bc190d-0354-4e66-91c9-64501e501ec5","name":"default","description":"The
        auto-generated default environment.","parent":null,"created_at":"2021-07-20T18:14:09.023022Z","modified_at":"2021-09-24T18:09:32.919995Z"},{"url":"https://api.cloudtruth.io/api/v1/environments/c4de304d-5dd4-4a41-80ec-9a469f1aa4f5/","id":"c4de304d-5dd4-4a41-80ec-9a469f1aa4f5","name":"development","description":"","parent":"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/","created_at":"2021-07-20T18:14:09.035255Z","modified_at":"2021-09-22T15:29:42.701230Z"},{"url":"https://api.cloudtruth.io/api/v1/environm[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/9eb14fef-951b-4dc8-a347-d9f82236a2ab/parameters/e7b80828-d1d4-4945-9c60-5e12078dc72e/values/
    body:
      encoding: UTF-8
      string: '{"environment":"e8bc190d-0354-4e66-91c9-64501e501ec5","external":false,"internal_value":"defaultone"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/9eb14fef-951b-4dc8-a347-d9f82236a2ab/parameters/e7b80828-d1d4-4945-9c60-5e12078dc72e/values/755799f4-5924-47c5-8e08-7702271aa667/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/9eb14fef-951b-4dc8-a347-d9f82236a2ab/parameters/e7b80828-d1d4-4945-9c60-5e12078dc72e/values/755799f4-5924-47c5-8e08-7702271aa667/","id":"755799f4-5924-47c5-8e08-7702271aa667","environment":"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/","environment_name":"default","earliest_tag":null,"parameter":"https://api.cloudtruth.io/api/v1/projects/9eb14fef-951b-4dc8-a347-d9f82236a2ab/parameters/e7b80828-d1d4-4945-9c60-5e12078dc72e/","external":false,"external_fqn":"","external_filter":"","external_error":null,"internal_value":"defaultone","interpolated":false,"value":"defaultone","secret":false,"referenced_parameters":[],"referenced_templates":[],"created_at":"2021-09-24T18:10:17.201119Z","modified_at":"2021-09-24T18:10:17.201119Z","dynamic":false,"dynamic_error":null,"dynamic_filter":"","dynamic_fqn":"","static_value":"defaultone"}'
  recorded_at: Fri, 24 Sep 2021 18:10:17 GMT
[...]
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/projects/9eb14fef-951b-4dc8-a347-d9f82236a2ab/parameters/?environment=e8bc190d-0354-4e66-91c9-64501e501ec5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    bod[...]
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/tags/?name=test_tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/tags/28b64412-3ea7-49bc-bf39-4f6c397508f7/","id":"28b64412-3ea7-49bc-bf39-4f6c397508f7","name":"test_tag","description":"","timestamp":"2021-09-24T18:09:30.864000Z","usage":{"last_read":"2021-09-24T18:09:34.033314Z","last_read_by":"auth0|60f7128fc724050071b3f490","total_reads":2}}]}'
  recorded_at: Fri, 24 Sep 2021 18:10:18 GMT
- request:
    method: patch
    uri: https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/tags/28b64412-3ea7-49bc-bf39-4f6c397508f7/
    body:
      encoding: UTF-8
      string: '{"timestamp":"2021-09-24T14:10:18.681-04:00"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/tags/28b64412-3ea7-49bc-bf39-4f6c397508f7/","id":"28b64412-3ea7-49bc-bf39-4f6c397508f7","name":"test_tag","description":"","timestamp":"2021-09-24T18:10:18.681000Z","usage":{"last_read":"2021-09-24T18:09:34.033314Z","last_read_by":"auth0|60f7128fc724050071b3f490","total_reads":2}}'
  recorded_at: Fri, 24 Sep 2021 18:10:19 GMT
- request:
    method: patch
    uri: https://api.cloudtruth.io/api/v1/projects/9eb14fef-951b-4dc8-a347-d9f82236a2ab/parameters/e7b80828-d1d4-4945-9c60-5e12078dc72e/values/755799f4-5924-47c5-8e08-7702271aa667/
    body:
      encoding: UTF-8
      string: '{"internal_value":"newdefaultone"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - appli[...]
[...]
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/projects/9eb14fef-951b-4dc8-a347-d9f82236a2ab/parameters/?environment=e8bc190d-0354-4e66-91c9-64501e501ec5&tag=test_tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OP[...]
