---
http_interactions:
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":2,"next":null,"previous":null,"results":[{"url":"https://api.staging.cloudtruth.io/api/v1/projects/1e0926d8-bc4d-44d4-8c7d-e712e655a231/","id":"1e0926d8-bc4d-44d4-8c7d-e712e655a231","name":"MyFirstProject","description":"Your
        first project.","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-06-02T17:11:55.098134Z","modified_at":"2022-06-02T17:11:55.098134Z"},{"url":"https://api.staging.cloudtruth.io/api/v1/projects/49aa5693-f10a-4a1c-ae91-205291d9924b/","id":"49aa5693-f10a-4a1c-ae91-205291d9924b","name":"TestProject","description":"","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-10-07T15:25:50.522421Z","modified_at":"2022-10-07T15:25:50.522421Z"}]}'
  recorded_at: Fri, 07 Oct 2022 15:26:00 GMT
- request:
    method: delete
    uri: https://api.staging.cloudtruth.io/api/v1/projects/49aa5693-f10a-4a1c-ae91-205291d9924b/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 07 Oct 2022 15:26:01 GMT
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/0c512ad6-b6c0-4363-956e-5b9074640ef4/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/0c512ad6-b6c0-4363-956e-5b9074640ef4/","id":"0c512ad6-b6c0-4363-956e-5b9074640ef4","name":"TestProject","description":"","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-10-07T15:26:03.232573Z","modified_at":"2022-10-07T15:26:03.232573Z"}'
  recorded_at: Fri, 07 Oct 2022 15:26:03 GMT
[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/0c512ad6-b6c0-4363-956e-5b9074640ef4/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one","type":"string"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/0c512ad6-b6c0-4363-956e-5b9074640ef4/parameters/d51a6810-a17e-42e4-8ede-81ae46ea0120/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/0c512ad6-b6c0-4363-956e-5b9074640ef4/parameters/d51a6810-a17e-42e4-8ede-81ae46ea0120/","id":"d51a6810-a17e-42e4-8ede-81ae46ea0120","name":"one","description":"","secret":false,"type":"string","rules":[],"project":"https://api.staging.cloudtruth.io/api/v1/projects/0c512ad6-b6c0-4363-956e-5b9074640ef4/","project_name":"TestProject","referencing_templates":[],"referencing_values":[],"values":{"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/":null,"https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd24bd67274/":null,"https://api.staging.cloudtruth.io/api/v1/environments/0663ac09-5883-452b-bc1a-00e3347fece5/":null,"https://api.staging.cloudtruth.io/api/v1/environments/fc970cc2-c24f-427d-9c7a-70acde9f1b64/":null},"overrides":null,"created_at":"2022-10-07T15:26:06.490985Z","modified_at":"2022-10-07T15:26:06.490985Z","templates":[]}'
  recorded_at: Fri, 07 Oct 2022 15:26:06 GMT
[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/environments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":4,"next":null,"previous":null,"results":[{"url":"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/","id":"1c8d41fa-6cba-4bc4-8154-e41acf2e8d76","name":"default","description":"Default
        environment, base for all environments.","parent":null,"children":["https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd24bd67274/","https://api.staging.cloudtruth.io/api/v1/environments/0663ac09-5883-452b-bc1a-00e3347fece5/","https://api.staging.cloudtruth.io/api/v1/environments/fc970cc2-c24f-427d-9c7a-70acde9f1b64/"],"access_controlled":false,"role":null,"created_at":"2022-06-02T17:11:55.112161Z","modified_at":"2022-06-02T17:13:09.641786Z"},{"url":"https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd2[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/0c512ad6-b6c0-4363-956e-5b9074640ef4/parameters/d51a6810-a17e-42e4-8ede-81ae46ea0120/values/
    body:
      encoding: UTF-8
      string: '{"environment":"1c8d41fa-6cba-4bc4-8154-e41acf2e8d76","external":false,"internal_value":"defaultone"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/0c512ad6-b6c0-4363-956e-5b9074640ef4/parameters/d51a6810-a17e-42e4-8ede-81ae46ea0120/values/70737f9c-c3d1-42fb-8380-bfbbbedce6b7/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/0c512ad6-b6c0-4363-956e-5b9074640ef4/parameters/d51a6810-a17e-42e4-8ede-81ae46ea0120/values/70737f9c-c3d1-42fb-8380-bfbbbedce6b7/","id":"70737f9c-c3d1-42fb-8380-bfbbbedce6b7","environment":"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/","environment_name":"default","parameter":"https://api.staging.cloudtruth.io/api/v1/projects/0c512ad6-b6c0-4363-956e-5b9074640ef4/parameters/d51a6810-a17e-42e4-8ede-81ae46ea0120/","external":false,"external_fqn":"","external_filter":"","external_error":null,"external_status":null,"internal_value":"defaultone","interpolated":false,"value":"defaultone","evaluated":false,"secret":false,"referenced_projects":[],"referenced_parameters":[],"referenced_templates":[],"created_at":"2022-10-07T15:26:11.419226Z","modified_at":"2022-10-07T15:26:11.419226Z","dynamic":false,"dynamic_error":null,"dynamic_filter":"","dynamic_fqn":"","static_value":"defaultone"}'
  recorded_at: Fri, 07 Oct 2022 15:26:11 GMT
[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/0c512ad6-b6c0-4363-956e-5b9074640ef4/parameters/?environment=1c8d41fa-6cba-4bc4-8154-e41acf2e8d76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/tags/?name=test_tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
  recorded_at: Fri, 07 Oct 2022 15:26:15 GMT
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/tags/
    body:
      encoding: UTF-8
      string: '{"name":"test_tag"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/tags/4a73fc7d-1808-4bd4-bdcc-2d6f50d707e5/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/tags/4a73fc7d-1808-4bd4-bdcc-2d6f50d707e5/","id":"4a73fc7d-1808-4bd4-bdcc-2d6f50d707e5","name":"test_tag","description":"","timestamp":"2022-10-07T15:26:16.803743Z","pushes":[],"push_urls":[],"usage":{"last_read":null,"last_read_by":"","total_reads":0}}'
  recorded_at: Fri, 07 Oct 2022 15:26:16 GMT
- request:
    method: patch
    uri: https://api.staging.cloudtruth.io/api/v1/projects/0c512ad6-b6c0-4363-956e-5b9074640ef4/parameters/d51a6810-a17e-42e4-8ede-81ae46ea0120/values/70737f9c-c3d1-42fb-8380-bfbbbedce6b7/
    body:
      encoding: UTF-8
      string: '{"internal_value":"newdefaultone"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
     [...]
[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/0c512ad6-b6c0-4363-956e-5b9074640ef4/parameters/?environment=1c8d41fa-6cba-4bc4-8154-e41acf2e8d76&tag=test_tag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, [...]
