---
http_interactions:
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":2,"next":null,"previous":null,"results":[{"url":"https://api.staging.cloudtruth.io/api/v1/projects/1e0926d8-bc4d-44d4-8c7d-e712e655a231/","id":"1e0926d8-bc4d-44d4-8c7d-e712e655a231","name":"MyFirstProject","description":"Your
        first project.","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-06-02T17:11:55.098134Z","modified_at":"2022-06-02T17:11:55.098134Z"},{"url":"https://api.staging.cloudtruth.io/api/v1/projects/baa6ed4b-747e-4b4c-89f7-414d1b9fd64f/","id":"baa6ed4b-747e-4b4c-89f7-414d1b9fd64f","name":"TestProject","description":"","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-10-07T15:25:40.572384Z","modified_at":"2022-10-07T15:25:40.572384Z"}]}'
  recorded_at: Fri, 07 Oct 2022 15:25:47 GMT
- request:
    method: delete
    uri: https://api.staging.cloudtruth.io/api/v1/projects/baa6ed4b-747e-4b4c-89f7-414d1b9fd64f/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 07 Oct 2022 15:25:48 GMT
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/49aa5693-f10a-4a1c-ae91-205291d9924b/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/49aa5693-f10a-4a1c-ae91-205291d9924b/","id":"49aa5693-f10a-4a1c-ae91-205291d9924b","name":"TestProject","description":"","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-10-07T15:25:50.522421Z","modified_at":"2022-10-07T15:25:50.522421Z"}'
  recorded_at: Fri, 07 Oct 2022 15:25:50 GMT
[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/49aa5693-f10a-4a1c-ae91-205291d9924b/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one","type":"string"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/49aa5693-f10a-4a1c-ae91-205291d9924b/parameters/bd269953-3e6f-4bc4-8f9d-1f8be04199d2/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/49aa5693-f10a-4a1c-ae91-205291d9924b/parameters/bd269953-3e6f-4bc4-8f9d-1f8be04199d2/","id":"bd269953-3e6f-4bc4-8f9d-1f8be04199d2","name":"one","description":"","secret":false,"type":"string","rules":[],"project":"https://api.staging.cloudtruth.io/api/v1/projects/49aa5693-f10a-4a1c-ae91-205291d9924b/","project_name":"TestProject","referencing_templates":[],"referencing_values":[],"values":{"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/":null,"https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd24bd67274/":null,"https://api.staging.cloudtruth.io/api/v1/environments/0663ac09-5883-452b-bc1a-00e3347fece5/":null,"https://api.staging.cloudtruth.io/api/v1/environments/fc970cc2-c24f-427d-9c7a-70acde9f1b64/":null},"overrides":null,"created_at":"2022-10-07T15:25:53.902983Z","modified_at":"2022-10-07T15:25:53.902983Z","templates":[]}'
  recorded_at: Fri, 07 Oct 2022 15:25:53 GMT
[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/environments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":4,"next":null,"previous":null,"results":[{"url":"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/","id":"1c8d41fa-6cba-4bc4-8154-e41acf2e8d76","name":"default","description":"Default
        environment, base for all environments.","parent":null,"children":["https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd24bd67274/","https://api.staging.cloudtruth.io/api/v1/environments/0663ac09-5883-452b-bc1a-00e3347fece5/","https://api.staging.cloudtruth.io/api/v1/environments/fc970cc2-c24f-427d-9c7a-70acde9f1b64/"],"access_controlled":false,"role":null,"created_at":"2022-06-02T17:11:55.112161Z","modified_at":"2022-06-02T17:13:09.641786Z"},{"url":"https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd2[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/49aa5693-f10a-4a1c-ae91-205291d9924b/parameters/?environment=1c8d41fa-6cba-4bc4-8154-e41acf2e8d76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS[...]
