---
http_interactions:
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":2,"next":null,"previous":null,"results":[{"url":"https://api.staging.cloudtruth.io/api/v1/projects/1e0926d8-bc4d-44d4-8c7d-e712e655a231/","id":"1e0926d8-bc4d-44d4-8c7d-e712e655a231","name":"MyFirstProject","description":"Your
        first project.","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-06-02T17:11:55.098134Z","modified_at":"2022-06-02T17:11:55.098134Z"},{"url":"https://api.staging.cloudtruth.io/api/v1/projects/b9310e1d-71ee-4a57-8e23-6ec7dd11a635/","id":"b9310e1d-71ee-4a57-8e23-6ec7dd11a635","name":"TestProject","description":"","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-10-07T15:27:44.354379Z","modified_at":"2022-10-07T15:27:44.354379Z"}]}'
  recorded_at: Fri, 07 Oct 2022 15:27:56 GMT
- request:
    method: delete
    uri: https://api.staging.cloudtruth.io/api/v1/projects/b9310e1d-71ee-4a57-8e23-6ec7dd11a635/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 07 Oct 2022 15:27:58 GMT
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/3653a3b6-76c1-4066-8596-c08c9b6d7458/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/3653a3b6-76c1-4066-8596-c08c9b6d7458/","id":"3653a3b6-76c1-4066-8596-c08c9b6d7458","name":"TestProject","description":"","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-10-07T15:27:59.765101Z","modified_at":"2022-10-07T15:27:59.765101Z"}'
  recorded_at: Fri, 07 Oct 2022 15:27:59 GMT
[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/3653a3b6-76c1-4066-8596-c08c9b6d7458/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one","type":"string"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/3653a3b6-76c1-4066-8596-c08c9b6d7458/parameters/cbd263ef-0a9b-4ae9-95d7-02f6b20bf8bc/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/3653a3b6-76c1-4066-8596-c08c9b6d7458/parameters/cbd263ef-0a9b-4ae9-95d7-02f6b20bf8bc/","id":"cbd263ef-0a9b-4ae9-95d7-02f6b20bf8bc","name":"one","description":"","secret":false,"type":"string","rules":[],"project":"https://api.staging.cloudtruth.io/api/v1/projects/3653a3b6-76c1-4066-8596-c08c9b6d7458/","project_name":"TestProject","referencing_templates":[],"referencing_values":[],"values":{"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/":null,"https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd24bd67274/":null,"https://api.staging.cloudtruth.io/api/v1/environments/0663ac09-5883-452b-bc1a-00e3347fece5/":null,"https://api.staging.cloudtruth.io/api/v1/environments/fc970cc2-c24f-427d-9c7a-70acde9f1b64/":null},"overrides":null,"created_at":"2022-10-07T15:28:03.013752Z","modified_at":"2022-10-07T15:28:03.013752Z","templates":[]}'
  recorded_at: Fri, 07 Oct 2022 15:28:03 GMT
[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/3653a3b6-76c1-4066-8596-c08c9b6d7458/templates/
    body:
      encoding: UTF-8
      string: '{"name":"tone","body":"tmpl1 {{one}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/3653a3b6-76c1-4066-8596-c08c9b6d7458/templates/066a8cc5-7532-418f-a785-a9a0de4e854f/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/3653a3b6-76c1-4066-8596-c08c9b6d7458/templates/066a8cc5-7532-418f-a785-a9a0de4e854f/","id":"066a8cc5-7532-418f-a785-a9a0de4e854f","name":"tone","description":"","evaluated":false,"body":"tmpl1
        {{one}}","referenced_projects":[],"referenced_parameters":["https://api.staging.cloudtruth.io/api/v1/projects/3653a3b6-76c1-4066-8596-c08c9b6d7458/parameters/cbd263ef-0a9b-4ae9-95d7-02f6b20bf8bc/"],"referenced_templates":[],"referencing_templates":[],"referencing_values":[],"has_secret":false,"created_at":"2022-10-07T15:28:06.976545Z","modified_at":"2022-10-07T15:28:06.976545Z","parameters":["https://api.staging.cloudtruth.io/api/v1/projects/3653a3b6-76c1-4066-8596-c08c9b6d7458/parameters/cbd263ef-0a9b-4ae9-95d7-02f6b20bf8bc/"],"references":[],"referenced_by":[]}'
  recorded_at: Fri, 07 Oct 2022 15:28:07 GMT
[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/environments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":4,"next":null,"previous":null,"results":[{"url":"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/","id":"1c8d41fa-6cba-4bc4-8154-e41acf2e8d76","name":"default","description":"Default
        environment, base for all environments.","parent":null,"children":["https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd24bd67274/","https://api.staging.cloudtruth.io/api/v1/environments/0663ac09-5883-452b-bc1a-00e3347fece5/","https://api.staging.cloudtruth.io/api/v1/environments/fc970cc2-c24f-427d-9c7a-70acde9f1b64/"],"access_controlled":false,"role":null,"created_at":"2022-06-02T17:11:55.112161Z","modified_at":"2022-06-02T17:13:09.641786Z"},{"url":"https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd2[...]
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/3653a3b6-76c1-4066-8596-c08c9b6d7458/templates/?environment=1c8d41fa-6cba-4bc4-8154-e41acf2e8d76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
[...]
