---
http_interactions:
- request:
    method: get
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":17,"next":null,"previous":null,"results":[{"url":"https://api.cloudtruth.io/api/v1/projects/1a7b786e-9c62-4258-aef2-6cfd75c41a59/","id":"1a7b786e-9c62-4258-aef2-6cfd75c41a59","name":"cfdemo","description":"Configuration
        used to demo a CloudFormation prototype integration","created_at":"2021-07-21T20:05:26.661951Z","modified_at":"2021-07-26T18:44:53.124105Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/4fe2fe3c-c663-41af-8d63-ec5527a621c0/","id":"4fe2fe3c-c663-41af-8d63-ec5527a621c0","name":"common","description":"Shared
        across all projects","created_at":"2021-07-21T20:22:47.273990Z","modified_at":"2021-07-26T18:45:24.199158Z"},{"url":"https://api.cloudtruth.io/api/v1/projects/dcb265f5-ce89-4e00-8b28-7ce873747b97/","id":"dcb265f5-ce89-4e00-8b28-7ce873747b97","name":"common-service","description":"The
     [...]
- request:
    method: delete
    uri: https://api.cloudtruth.io/api/v1/projects/2fe9570b-89e4-4e6e-8859-d0ae1b23e45b/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Sep 2021 15:30:05 GMT
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/005feaee-fe78-4bf3-9b9f-143233e99923/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/005feaee-fe78-4bf3-9b9f-143233e99923/","id":"005feaee-fe78-4bf3-9b9f-143233e99923","name":"TestProject","description":"","created_at":"2021-09-22T15:30:05.910395Z","modified_at":"2021-09-22T15:30:05.910395Z"}'
  recorded_at: Wed, 22 Sep 2021 15:30:05 GMT
[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/005feaee-fe78-4bf3-9b9f-143233e99923/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/005feaee-fe78-4bf3-9b9f-143233e99923/parameters/36fe339e-ee00-470f-8e71-b1a8c59795ab/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/005feaee-fe78-4bf3-9b9f-143233e99923/parameters/36fe339e-ee00-470f-8e71-b1a8c59795ab/","id":"36fe339e-ee00-470f-8e71-b1a8c59795ab","name":"one","description":"","secret":false,"type":"string","rules":[],"templates":[],"values":{"https://api.cloudtruth.io/api/v1/environments/e8bc190d-0354-4e66-91c9-64501e501ec5/":null,"https://api.cloudtruth.io/api/v1/environments/c4de304d-5dd4-4a41-80ec-9a469f1aa4f5/":null,"https://api.cloudtruth.io/api/v1/environments/12b9c81b-9002-423b-9ca7-22cece646d07/":null,"https://api.cloudtruth.io/api/v1/environments/2281d9da-8376-4f45-baf2-372a71260dfa/":null,"https://api.cloudtruth.io/api/v1/environments/c99d6ab9-4674-4f76-bb43-da0b19124e18/":null,"https://api.cloudtruth.io/api/v1/environments/ef133a2e-3c9c-4229-a509-e56332baff40/":null,"https://api.cloudtruth.io/api/v1/environments/cde7cf9d-8bf2-46cb-9e97-dee9b99e4335/":null,"https://api.cloudtruth.io/api/v1/environments/e4399ff4-a962-451b-adfb-7e504ad6bb6d/":null,"https://api.cloudtruth.io/api/v1/environments/3afc0523-4722-4fa1-aaea-5d49beaa284d/":null},"created_at":"2021-09-22T15:30:06.877088Z","modified_at":"2021-09-22T15:30:06.877088Z"}'
  recorded_at: Wed, 22 Sep 2021 15:30:06 GMT
[...]
- request:
    method: post
    uri: https://api.cloudtruth.io/api/v1/projects/005feaee-fe78-4bf3-9b9f-143233e99923/templates/
    body:
      encoding: UTF-8
      string: '{"name":"one","body":"tmpl1 {{one}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.cloudtruth.io/api/v1/projects/005feaee-fe78-4bf3-9b9f-143233e99923/templates/5caf57a6-dc2c-4ba4-a83c-9ff1b3fb234d/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.cloudtruth.io/api/v1/projects/005feaee-fe78-4bf3-9b9f-143233e99923/templates/5caf57a6-dc2c-4ba4-a83c-9ff1b3fb234d/","id":"5caf57a6-dc2c-4ba4-a83c-9ff1b3fb234d","name":"one","description":"","body":"tmpl1
        {{one}}","parameters":["https://api.cloudtruth.io/api/v1/projects/005feaee-fe78-4bf3-9b9f-143233e99923/parameters/36fe339e-ee00-470f-8e71-b1a8c59795ab/"],"references":[],"referenced_by":[],"has_secret":false,"created_at":"2021-09-22T15:30:08.211344Z","modified_at":"2021-09-22T15:30:08.211344Z"}'
  recorded_at: Wed, 22 Sep 2021 15:30:08 GMT
[...]
