---
http_interactions:
- request:
    method: get
    uri: https://api.staging.cloudtruth.io/api/v1/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":2,"next":null,"previous":null,"results":[{"url":"https://api.staging.cloudtruth.io/api/v1/projects/1e0926d8-bc4d-44d4-8c7d-e712e655a231/","id":"1e0926d8-bc4d-44d4-8c7d-e712e655a231","name":"MyFirstProject","description":"Your
        first project.","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-06-02T17:11:55.098134Z","modified_at":"2022-06-02T17:11:55.098134Z"},{"url":"https://api.staging.cloudtruth.io/api/v1/projects/655eafce-d1dc-4d72-a75a-09868e0a9dd6/","id":"655eafce-d1dc-4d72-a75a-09868e0a9dd6","name":"TestProject","description":"","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-10-07T15:25:09.123373Z","modified_at":"2022-10-07T15:25:09.123373Z"}]}'
  recorded_at: Fri, 07 Oct 2022 15:25:15 GMT
- request:
    method: delete
    uri: https://api.staging.cloudtruth.io/api/v1/projects/655eafce-d1dc-4d72-a75a-09868e0a9dd6/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 07 Oct 2022 15:25:17 GMT
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/
    body:
      encoding: UTF-8
      string: '{"name":"TestProject"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/3d5c5263-dc2b-4cb4-b71a-7e820a822556/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/3d5c5263-dc2b-4cb4-b71a-7e820a822556/","id":"3d5c5263-dc2b-4cb4-b71a-7e820a822556","name":"TestProject","description":"","dependents":[],"depends_on":null,"access_controlled":false,"role":null,"pushes":[],"push_urls":[],"created_at":"2022-10-07T15:25:19.057799Z","modified_at":"2022-10-07T15:25:19.057799Z"}'
  recorded_at: Fri, 07 Oct 2022 15:25:19 GMT
[...]
- request:
    method: post
    uri: https://api.staging.cloudtruth.io/api/v1/projects/3d5c5263-dc2b-4cb4-b71a-7e820a822556/parameters/
    body:
      encoding: UTF-8
      string: '{"name":"one","type":"string"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Api-Key <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.staging.cloudtruth.io/api/v1/projects/3d5c5263-dc2b-4cb4-b71a-7e820a822556/parameters/1f77a104-561e-459a-9dbc-095d0255f2db/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.staging.cloudtruth.io/api/v1/projects/3d5c5263-dc2b-4cb4-b71a-7e820a822556/parameters/1f77a104-561e-459a-9dbc-095d0255f2db/","id":"1f77a104-561e-459a-9dbc-095d0255f2db","name":"one","description":"","secret":false,"type":"string","rules":[],"project":"https://api.staging.cloudtruth.io/api/v1/projects/3d5c5263-dc2b-4cb4-b71a-7e820a822556/","project_name":"TestProject","referencing_templates":[],"referencing_values":[],"values":{"https://api.staging.cloudtruth.io/api/v1/environments/1c8d41fa-6cba-4bc4-8154-e41acf2e8d76/":null,"https://api.staging.cloudtruth.io/api/v1/environments/8f2e37b9-b429-4987-bb85-abd24bd67274/":null,"https://api.staging.cloudtruth.io/api/v1/environments/0663ac09-5883-452b-bc1a-00e3347fece5/":null,"https://api.staging.cloudtruth.io/api/v1/environments/fc970cc2-c24f-427d-9c7a-70acde9f1b64/":null},"overrides":null,"created_at":"2022-10-07T15:25:22.790051Z","modified_at":"2022-10-07T15:25:22.790051Z","templates":[]}'
  recorded_at: Fri, 07 Oct 2022 15:25:22 GMT
[...]
